body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#swf-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
embed {
    display: block;
    width: 100%;
    height: auto;
}