<!DOCTYPE html></head><body><h2 style="color:white">Full Screen</h2>
  <html>
      <head>
          <title>about:blank | 3kh0</title>
      </head>
      <body>
          <script>
          function create() {
              var url = "https://bchs.pages.dev/";document.getElementById('input');
              var win = window.open();
              win.document.body.style.margin = '0';
              win.document.body.style.height = '100vh';
              var iframe = win.document.createElement('iframe');
              iframe.style.border = 'none';
              iframe.style.width = '100%';
              iframe.style.height = '100%';
              iframe.style.margin = '0';
              iframe.src = url;
              win.document.body.appendChild(iframe);
          }
          </script>
  
          <button onclick='create()'>Play now!</button>
      </body>
  </html></script><div id="dji-sru-busy-state"></div>
  <style>
  * {
      color: white; 
      font-family: arial;
      text-align: center;
  }
  button {
      width: 220px; 
      height: 40px;
      border-radius: 12px;
      background-color: #1F51FF;
      font-family: Arial, Helvetica, sans-serif;
      border: none;
      transition: background-color 500ms;
  }
  button:hover {
      background-color: #1F51FF;
  put your url where it says "PUT URL HERE"
  
  