.reminder-modal-frame {
    display: block;
    position: fixed;
    border: none;
    height: 464px;
    width: 331px;
    top: 166px;
    background: white;
    box-shadow: 0 5px 70px rgba(0, 0, 0, 0.29);
    z-index: 999;
    overflow: visible;
    border-radius: 5px;
    right: 166px;
}