
<!--
	manyFails
-->
<script id="manyFails" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">If you're stuck click here for some help!</a>
</script>

<script id="manyFails2" type="text/html">
	<a href="http://littlealchemy.com/cheats/" class="notificationLink" target="_blank">If you need some help, here you can find some hints.</a>
</script>

<!--
	element
-->
<script id="element" type="text/html">
	<div><img src="data:image/png;base64,<%= image %>" />Try to create <%= name %>.</div>
</script>