@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #cccccc;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --widget-text: rgb(255, 255, 255);
    --widget-color: #3a3b3ca8;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body {
    min-height: 100vh;
    background-image: url(../img/backgrounds/8.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.home {
    margin-top: 4px;
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
#searchInput::placeholder {
    text-align: center;
}
#searchInput {
    margin-top: 64px;
    width: 100vw;
    padding: 8px 20px 8px 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 40px;
}
.cards a {
    text-decoration: none;
}
.cards .card {
    margin-bottom: 30px;
    margin: 0 15px 30px;
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-color: white;
    transition: background-color 0.3s;
    z-index: 1;
    transition: transform 0.3s ease;
}
.cards .card:hover {
    transform: scale(1.3);
    z-index: 2;
}
.cards .card h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 1px;
    padding-left: 1px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}
@media (max-width: 400px) {
    .cards {
        padding: 0 10px;
    }
    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }
    .cards .p {
        height: 70px;
        width: 70px;
    }
    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
    .modal-content {
        width: 90vw;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .cards {
        padding: 0 10px;
    }
    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }
    .cards .p {
        height: 70px;
        width: 70px;
    }
    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
    .modal-content {
        width: 90vw;
    }
}
@media (min-width: 501px) and (max-width: 600px){
    .cards {
        padding: 0 10px;
    }
    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }
    .cards .p {
        height: 70px;
        width: 70px;
    }
    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
    .modal-content {
        width: 90vw;
    }
}
@media (min-width: 601px) and (max-width: 700px){
    .cards {
        padding: 0 10px;
    }
    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }
    .cards .p {
        height: 70px;
        width: 70px;
    }
    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
    .modal-content {
        width: 90vw;
    }
}
@media (min-width: 701px) and (max-width: 899px){
    .cards {
        padding: 0 10px;
    }
    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }
    .cards .p {
        height: 100px;
        width: 100px;
    }
    .cards .card h2 {
        font-size: 14px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 18px;
    }
    .modal-content {
        width: 600px;
    }
}

@media (min-width: 900px) {
    .cards .g {
        height: 120px;
        width: 264px;
    }
    .cards .p {
        height: 120px;
        width: 120px;
    }
    .cards .card h2 {
        font-size: 13px;
    }
    #searchInput {
        font-size: 20px;
    }
    #searchInput:focus::placeholder, #searchInput:hover::placeholder {
        opacity: 0;
    }
    .modal-content {
        width: 600px;
    }
}
/* Flash Player Modal CSS */
.modal-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.modal-background {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    z-index: 1000;
}
.modal-text {
    flex: 1;
    max-width: 60%;
}
.modal-content {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    max-width: 90%; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px;
}
.modal-header {
    margin-top: 0; 
    text-align: center;
}
.modal-instructions {
    font-size: 0.9em; 
    padding-left: 30px;
}
.modal-buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
.modal-gif {
    flex-shrink: 0;
    max-width: 50%;
}

.modal-gif img {
    max-width: 100%;
    height: auto;
}
.modal-btn {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #ccc; 
    cursor: pointer;
}
.modal-download-btn {
    margin-left: 15px; 
    background-color: #3a3b3c;
    color: #fff;
}
.modal-btn:hover {
    transform: scale(1.05); 
    background-color: #b3b3b3; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}
.modal-download-btn:hover {
    transform: scale(1.05);
    background-color: #2a2b2c; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}