.cards .papas-scooperia {
    background-image: url(assets/img/flash-games/papas-scooperia.png);
}
.cards .papas-sushiria {
    background-image: url(assets/img/flash-games/papas-sushiria.png);
}
.cards .papas-cupcakeria {
    background-image: url(assets/img/flash-games/papas-cupcakeria.png);
}
.cards .papas-bakeria {
    background-image: url(assets/img/flash-games/papas-bakeria.png);
}
.cards .papas-burgeria {
    background-image: url(assets/img/flash-games/papas-burgeria.png);
}
.cards .papas-cheeseria {
    background-image: url(assets/img/flash-games/papas-cheeseria.png);
}
.cards .papas-pasteria {
    background-image: url(assets/img/flash-games/papas-pasteria.png);
}
.cards .papas-hot-doggeria {
    background-image: url(assets/img/flash-games/papas-hot-doggeria.png);
}
.cards .papas-pancakeria {
    background-image: url(assets/img/flash-games/papas-pancakeria.png);
}
.cards .papas-donuteria {
    background-image: url(assets/img/flash-games/papas-donuteria.png);
}
.cards .papas-pizzeria {
    background-image: url(assets/img/flash-games/papas-pizzeria.png);
}
.cards .papas-freezeria {
    background-image: url(assets/img/flash-games/papas-freezeria.png);
}
.cards .papas-taco-mia {
    background-image: url(assets/img/flash-games/papas-taco-mia.png);
}
.cards .papas-wingeria {
    background-image: url(assets/img/flash-games/papas-wingeria.png);
}
.cards .cactus-mccoy {
    background-image: url(assets/img/flash-games/cactus-mccoy.png);
}
.cards .papa-louie {
    background-image: url(assets/img/flash-games/papa-louie.png);
}
.cards .papa-louie-2 {
    background-image: url(assets/img/flash-games/papa-louie-2.png);
}
.cards .papa-louie-3 {
    background-image: url(assets/img/flash-games/papa-louie-3.png);
}
.cards .papas-mocharia {
    background-image: url(assets/img/flash-games/papas-mocharia.png);
}
.cards .jack-smith {
    background-image: url(assets/img/flash-games/jack-smith.png);
}
.cards .papas-cluckeria {
    background-image: url(assets/img/flash-games/papas-cluckeria.png);
}
.cards .cactus-mccoy-2 {
    background-image: url(assets/img/flash-games/cactus-mccoy-2.png);
}
.cards .shopping-city {
    background-image: url(assets/img/flash-games/shopping-city.png);
}
.cards .shopping-street {
    background-image: url(assets/img/flash-games/shopping-street.png);
}
.cards .duck-life {
    background-image: url(assets/img/flash-games/duck-life.png);
}
.cards .duck-life-2 {
    background-image: url(assets/img/flash-games/duck-life-2.png);
}
.cards .duck-life-3 {
    background-image: url(assets/img/flash-games/duck-life-3.png);
}
.cards .duck-life-4 {
    background-image: url(assets/img/flash-games/duck-life-4.png);
}
.cards .pacman {
    background-image: url(assets/img/flash-games/pacman.png);
}
.cards .marios-adventure-2 {
    background-image: url(assets/img/flash-games/marios-adventure.png);
}
.cards .fbwg1 {
    background-image: url(assets/img/flash-games/fbwg.png);
}
.cards .fbwg2 {
    background-image: url(assets/img/flash-games/fbwg2.png);
}
.cards .fbwg3 {
    background-image: url(assets/img/flash-games/fbwg3.png);
}
.cards .fbwg4 {
    background-image: url(assets/img/flash-games/fbwg4.png);
}
.cards .happy-wheels {
    background-image: url(assets/img/flash-games/happy-wheels.png);
}
.cards .bob-the-robber {
    background-image: url(assets/img/flash-games/bob-the-robber.png);
}
.cards .penguin-diner {
    background-image: url(assets/img/flash-games/penguin-diner.png);
}
.cards .super-mario-63 {
    background-image: url(assets/img/flash-games/super-mario-63.png);
}
.cards .gun-mayhem {
    background-image: url(assets/img/flash-games/gun-mayhem.png);
}
.cards .gun-mayhem-2 {
    background-image: url(assets/img/flash-games/gun-mayhem-2.png);
}
.cards .fortz {
    background-image: url(assets/img/flash-games/fortz.png);
}
.cards .last-stand-union-city {
    background-image: url(assets/img/flash-games/last-stand-union-city.png);
}
.cards .learn-to-fly {
    background-image: url(assets/img/flash-games/learn-to-fly.png);
}
.cards .learn-to-fly-2 {
    background-image: url(assets/img/flash-games/learn-to-fly-2.png);
}
.cards .learn-to-fly-3 {
    background-image: url(assets/img/flash-games/learn-to-fly-3.png);
}
.cards .learn-to-fly-idle {
    background-image: url(assets/img/flash-games/learn-to-fly-idle.png);
}
.cards .effing-worms-xmas {
    background-image: url(assets/img/flash-games/effing-worms-xmas.png);
}
.cards .effing-worms-2 {
    background-image: url(assets/img/flash-games/effing-worms-2.png);
}
.cards .run {
    background-image: url(assets/img/flash-games/run.png);
}
.cards .run-2 {
    background-image: url(assets/img/flash-games/run-2.png);
}
.cards .run-3 {
    background-image: url(assets/img/flash-games/run-3.png);
}
.cards .snake {
    background-image: url(assets/img/flash-games/snake.png);
}
.cards .bomb-it {
    background-image: url(assets/img/flash-games/bomb-it.png);
}
.cards .super-fighters {
    background-image: url(assets/img/flash-games/super-fighters.png);
}
.cards .bloons-td-4 {
    background-image: url(assets/img/flash-games/bloons-td-4.png);
}
.cards .bloons-td-5 {
    background-image: url(assets/img/flash-games/bloons-td-5.png);
}
.cards .moto-x3m {
    background-image: url(assets/img/flash-games/moto-x3m.png);
}
.cards .moto-x3m-winter {
    background-image: url(assets/img/flash-games/moto-x3m-winter.png);
}
.cards .worlds-hardest-game {
    background-image: url(assets/img/flash-games/worlds-hardest-game.png);
}
.cards .worlds-hardest-game-2 {
    background-image: url(assets/img/flash-games/worlds-hardest-game-2.png);
}
.cards .diggy {
    background-image: url(assets/img/flash-games/diggy.png);
}
.cards .red-ball-4 {
    background-image: url(assets/img/flash-games/red-ball-4.png);
}
.cards .rebuild {
    background-image: url(assets/img/flash-games/rebuild.png);
}
.cards .rebuild-2 {
    background-image: url(assets/img/flash-games/rebuild-2.png);
}
.cards .electric-man-2 {
    background-image: url(assets/img/flash-games/electric-man-2.png);
}
.cards .my-friend-pedro {
    background-image: url(assets/img/flash-games/my-friend-pedro.png);
}
.cards .wheely {
    background-image: url(assets/img/flash-games/wheely.png);
}
.cards .wheely-2 {
    background-image: url(assets/img/flash-games/wheely-2.png);
}
.cards .wheely-3 {
    background-image: url(assets/img/flash-games/wheely-3.png);
}
.cards .wheely-4 {
    background-image: url(assets/img/flash-games/wheely-4.png);
}
.cards .wheely-5 {
    background-image: url(assets/img/flash-games/wheely-5.png);
}
.cards .wheely-6 {
    background-image: url(assets/img/flash-games/wheely-6.png);
}
.cards .wheely-7 {
    background-image: url(assets/img/flash-games/wheely-7.png);
}
.cards .wheely-8 {
    background-image: url(assets/img/flash-games/wheely-8.png);
}
.cards .clicker-heroes {
    background-image: url(assets/img/flash-games/clicker-heroes.png);
}
.cards .haunt-the-house {
    background-image: url(assets/img/flash-games/haunt-the-house.png);
}
.cards .jelly-truck {
    background-image: url(assets/img/flash-games/jelly-truck.png);
}
.cards .johnny-upgrade {
    background-image: url(assets/img/flash-games/johnny-upgrade.png);
}
.cards .effing-hail {
    background-image: url(assets/img/flash-games/effing-hail.png);
}
.cards .super-smash-flash {
    background-image: url(assets/img/flash-games/super-smash-flash.png);
}
.cards .earn-to-die {
    background-image: url(assets/img/flash-games/earn-to-die.png);
}
.cards .earn-to-die-2 {
    background-image: url(assets/img/flash-games/earn-to-die-2.png);
}
.cards .earn-to-die-2012-part-1 {
    background-image: url(assets/img/flash-games/earn-to-die-2012-part-1.png);
}
.cards .earn-to-die-2012-part-2 {
    background-image: url(assets/img/flash-games/earn-to-die-2012-part-2.png);
}
.cards .jelly-dad-hero {
    background-image: url(assets/img/flash-games/jelly-dad-hero.png);
}
.cards .bullet-heaven-2 {
    background-image: url(assets/img/flash-games/bullet-heaven-2.png);
}
.cards .atari-breakout {
    background-image: url(assets/img/flash-games/atari-breakout.png);
}
.cards .asteriods {
    background-image: url(assets/img/flash-games/asteriods.png);
}
.cards .a10-more-bullets {
    background-image: url(assets/img/flash-games/10-more-bullets.png);
}
.cards .a60-second-burger-run {
    background-image: url(assets/img/flash-games/60-second-burger-run.png);
}
.cards .trap-the-cat {
    background-image: url(assets/img/flash-games/trap-the-chat.png);
}
.cards .dig-to-china {
    background-image: url(assets/img/flash-games/dig-to-china.png);
}
.cards .steak-and-jake-midnight-march {
    background-image: url(assets/img/flash-games/steak-and-jake-midnight-march.png);
}
.cards .steak-and-jake {
    background-image: url(assets/img/flash-games/steak-and-jake.png);
}
.cards .rock-garden {
    background-image: url(assets/img/flash-games/rock-garden.png);
}
.cards .strike-force-kitty-2 {
    background-image: url(assets/img/flash-games/strike-force-kitty-2.png);
}