.cards .papas-scooperia {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-sushiria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-cupcakeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-bakeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-burgeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-cheeseria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-pasteria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-hot-doggeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-pancakeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-donuteria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-pizzeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-freezeria {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-taco-mia {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-wingeria {
    background-image: url(/assets/img/flash-games);
}
.cards .cactus-mccoy {
    background-image: url(/assets/img/flash-games);
}
.cards .papa-louie {
    background-image: url(/assets/img/flash-games);
}
.cards .papa-louie-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .papa-louie-3 {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-mocharia {
    background-image: url(/assets/img/flash-games);
}
.cards .jack-smith {
    background-image: url(/assets/img/flash-games);
}
.cards .papas-cluckeria {
    background-image: url(/assets/img/flash-games);
}
.cards .cactus-mccoy-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .shopping-city {
    background-image: url(/assets/img/flash-games);
}
.cards .shopping-street {
    background-image: url(/assets/img/flash-games);
}
.cards .duck-life {
    background-image: url(/assets/img/flash-games);
}
.cards .duck-life-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .duck-life-3 {
    background-image: url(/assets/img/flash-games);
}
.cards .duck-life-4 {
    background-image: url(/assets/img/flash-games);
}
.cards .pacman {
    background-image: url(/assets/img/flash-games);
}
.cards .marios-adventure-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .fbwg1 {
    background-image: url(/assets/img/flash-games);
}
.cards .fbwg2 {
    background-image: url(/assets/img/flash-games);
}
.cards .fbwg3 {
    background-image: url(/assets/img/flash-games);
}
.cards .fbwg4 {
    background-image: url(/assets/img/flash-games);
}
.cards .happy-wheels {
    background-image: url(/assets/img/flash-games);
}
.cards .bob-the-robber {
    background-image: url(/assets/img/flash-games);
}
.cards .penguin-diner {
    background-image: url(/assets/img/flash-games);
}
.cards .super-mario-63 {
    background-image: url(/assets/img/flash-games);
}
.cards .gun-mayhem {
    background-image: url(/assets/img/flash-games);
}
.cards .gun-mayhem-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .fortz {
    background-image: url(/assets/img/flash-games);
}
.cards .last-stand-union-city {
    background-image: url(/assets/img/flash-games);
}
.cards .learn-to-fly {
    background-image: url(/assets/img/flash-games);
}
.cards .learn-to-fly-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .learn-to-fly-3 {
    background-image: url(/assets/img/flash-games);
}
.cards .learn-to-fly-idle {
    background-image: url(/assets/img/flash-games);
}
.cards .effing-worms-xmas {
    background-image: url(/assets/img/flash-games);
}
.cards .effing-worms-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .run {
    background-image: url(/assets/img/flash-games);
}
.cards .run-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .run-3 {
    background-image: url(/assets/img/flash-games);
}
.cards .snake {
    background-image: url(/assets/img/flash-games);
}
.cards .bomb-it {
    background-image: url(/assets/img/flash-games);
}
.cards .super-fighters {
    background-image: url(/assets/img/flash-games);
}
.cards .bloons-td-4 {
    background-image: url(/assets/img/flash-games);
}
.cards .bloons-td-5 {
    background-image: url(/assets/img/flash-games);
}
.cards .moto-x3m {
    background-image: url(/assets/img/flash-games);
}
.cards .moto-x3m-winter {
    background-image: url(/assets/img/flash-games);
}
.cards .worlds-hardest-game {
    background-image: url(/assets/img/flash-games);
}
.cards .worlds-hardest-game-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .diggy {
    background-image: url(/assets/img/flash-games);
}
.cards .red-ball-4 {
    background-image: url(/assets/img/flash-games);
}
.cards .rebuild {
    background-image: url(/assets/img/flash-games);
}
.cards .rebuild-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .electric-man-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .my-friend-pedro {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-3 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-4 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-5 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-6 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-7 {
    background-image: url(/assets/img/flash-games);
}
.cards .wheely-8 {
    background-image: url(/assets/img/flash-games);
}
.cards .clicker-heroes {
    background-image: url(/assets/img/flash-games);
}
.cards .haunt-the-house {
    background-image: url(/assets/img/flash-games);
}
.cards .jelly-truck {
    background-image: url(/assets/img/flash-games);
}
.cards .johnny-upgrade {
    background-image: url(/assets/img/flash-games);
}
.cards .effing-hail {
    background-image: url(/assets/img/flash-games);
}
.cards .super-smash-flash {
    background-image: url(/assets/img/flash-games);
}
.cards .earn-to-die {
    background-image: url(/assets/img/flash-games);
}
.cards .earn-to-die-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .earn-to-die-2012-part-1 {
    background-image: url(/assets/img/flash-games);
}
.cards .earn-to-die-2012-part-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .jelly-dad-hero {
    background-image: url(/assets/img/flash-games);
}
.cards .bullet-heaven-2 {
    background-image: url(/assets/img/flash-games);
}
.cards .atari-breakout {
    background-image: url(/assets/img/flash-games/atari-breakout.png);
}
.cards .asteriods {
    background-image: url(/assets/img/flash-games/asteriods.png);
}
.cards .a10-more-bullets {
    background-image: url(/assets/img/flash-games/10-more-bullets.png);
}
.cards .a60-second-burger-run {
    background-image: url(/assets/img/flash-games/60-second-burger-run.png);
}
.cards .trap-the-cat {
    background-image: url(/assets/img/flash-games/trap-the-chat.png);
}
.cards .dig-to-china {
    background-image: url(/assets/img/flash-games/dig-to-china.png);
}
.cards .steak-and-jake-midnight-march {
    background-image: url(/assets/img/flash-games/steak-and-jake-midnight-march.png);
}
.cards .steak-and-jake {
    background-image: url(/assets/img/flash-games/steak-and-jake.png);
}
.cards .rock-garden {
    background-image: url(/assets/img/flash-games/rock-garden.png);
}
.cards .strike-force-kitty-2 {
    background-image: url(/assets/img/flash-games/strike-force-kitty-2.png);
}