@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.footer {
    background-color: #1e2124;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 30px;
}
.footer-sticky {
    background-color: #1e2124;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 14px;
    height: 30px;
}
.logo-container {
    margin-left: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.footer-nav {
    margin-right: 20px;
}

.footer-link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: dodgerblue;
}
.page-container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}
.content-wrapper {
    flex: 1;
}
@media (max-width: 1000px) {
    footer {
      display: none !important;
    }
}