/* 
.cards . {
    background-image: url("../img/thumbnails/.png");
}
*/
.cards .a2048 {
    background-image: url("../img/thumbnails/2048.png");
}
.cards .pizzeria-simulator {
    background-image: url("../img/thumbnails/pizzeria-simulator.png");
}
.cards .just-one-boss {
    background-image: url("../img/thumbnails/just-one-boss.png");
}
.cards .slope {
    background-image: url("../img/thumbnails/slope.png");
}
.cards .minecraft {
    background-image: url("../img/thumbnails/minecraft.png");
}
.cards .a1v1-lol {
    background-image: url("../img/thumbnails/1v1-lol.png");
}
.cards .basket-random {
    background-image: url("../img/thumbnails/basket-random.png");
}
.cards .bad-ice-cream {
    background-image: url("../img/thumbnails/bad-ice-cream.png");
}
.cards .hextris {
    background-image: url("../img/thumbnails/hextris.png");
}
.cards .among-us {
    background-image: url("../img/thumbnails/among-us.png");
}
.cards .ball-blast {
    background-image: url("../img/thumbnails/ball-blast.png");
}
.cards .rolly-vortex {
    background-image: url("../img/thumbnails/rolly-vortex.png");
}
.cards .soccer-random {
    background-image: url("../img/thumbnails/soccer-random.png");
}
.cards .earn-to-die {
    background-image: url("../img/thumbnails/earn-to-die.png");
}
.cards .earn-to-die-2 {
    background-image: url("../img/thumbnails/earn-to-die-2.png");
}
.cards .earn-to-die-2012 {
    background-image: url("../img/thumbnails/earn-to-die-2012.png");
}
.cards .earn-to-die-2012-part-2 {
    background-image: url("../img/thumbnails/earn-to-die-2012-part-2.png");
}
.cards .elastic-man {
    background-image: url("../img/thumbnails/elastic-man.png");
}
.cards .subway-surfers {
    background-image: url("../img/thumbnails/subway-surfers.png");
}
.cards .volley-random {
    background-image: url("../img/thumbnails/volley-random.png");
}
.cards .moto-x3m {
    background-image: url("../img/thumbnails/moto-x3m.png");
}
.cards .moto-x3m-3 {
    background-image: url("../img/thumbnails/moto-x3m-3.png");
}
.cards .rooftop-snipers-2 {
    background-image: url("../img/thumbnails/rooftop-snipers-2.png");
}
.cards .retro-bowl {
    background-image: url("../img/thumbnails/retro-bowl.png");
}
.cards .basketball-stars {
    background-image: url("../img/thumbnails/basketball-stars.png");
}
.cards .just-fall-lol {
    background-image: url("../img/thumbnails/just-fall-lol.png");
}
.cards .uno {
    background-image: url("../img/thumbnails/uno.png");
}
.cards .bad-ice-cream-3 {
    background-image: url("../img/thumbnails/bad-ice-cream-3.png");
}
.cards .big-red-button {
    background-image: url("../img/thumbnails/big-red-button.png");
}
.cards .bloons-td {
    background-image: url("../img/thumbnails/bloons-td.png");
}
.cards .bloons-td-2 {
    background-image: url("../img/thumbnails/bloons-td-2.png");
}
.cards .bloxors {
    background-image: url("../img/thumbnails/bloxors.png");
}
.cards .cars-simulator {
    background-image: url("../img/thumbnails/cars-simulator.png");
}
.cards .cluster-rush {
    background-image: url("../img/thumbnails/cluster-rush.png");
}
.cards .core-ball {
    background-image: url("../img/thumbnails/core-ball.png");
}
.cards .airport-madness-3 {
    background-image: url("../img/thumbnails/airport-madness-3.png");
}
.cards .a5-mins-to-kill-yourself {
    background-image: url("../img/thumbnails/5-mins-to-kill-yourself.png");
}
.cards .run {
    background-image: url("../img/thumbnails/run.png");
}
.cards .boxing-random {
    background-image: url("../img/thumbnails/boxing-random.png");
}
.cards .run-2 {
    background-image: url("../img/thumbnails/run-2.png");
}
.cards .a60-second-burger-run {
    background-image: url("../img/thumbnails/60-second-burger-run.png");
}
.cards .craftmine {
    background-image: url("../img/thumbnails/craftmine.png");
}
.cards .bad-time-simulator {
    background-image: url("../img/thumbnails/bad-time-simulator.png");
}
.cards .crossy-road {
    background-image: url("../img/thumbnails/crossy-road.png");
}
.cards .cut-the-rope {
    background-image: url("../img/thumbnails/cut-the-rope.png");
}
.cards .cut-the-rope-holiday {
    background-image: url("../img/thumbnails/cut-the-rope-holiday.png");
}
.cards .cut-the-rope-time-travel {
    background-image: url("../img/thumbnails/cut-the-rope-time-travel.png");
}
.cards .doge-2048 {
    background-image: url("../img/thumbnails/doge-2048.png");
}
.cards .doge-miner {
    background-image: url("../img/thumbnails/doge-miner.png");
}
.cards .doodle-jump {
    background-image: url("../img/thumbnails/doodle-jump.png");
}
.cards .draw-the-hill {
    background-image: url("../img/thumbnails/draw-the-hill.png");
}
.cards .bad-ice-cream-2 {
    background-image: url("../img/thumbnails/bad-ice-cream-2.png");
}
.cards .duck-life-3 {
    background-image: url("../img/thumbnails/duck-life-3.png");
}
.cards .fbwg-1 {
    background-image: url("../img/thumbnails/fbwg-1.png");
}
.cards .fbwg-2 {
    background-image: url("../img/thumbnails/fbwg-2.png");
}
.cards .fbwg-3 {
    background-image: url("../img/thumbnails/fbwg-3.png");
}
.cards .fbwg-4 {
    background-image: url("../img/thumbnails/fbwg-4.png");
}
.cards .flappy-2048 {
    background-image: url("../img/thumbnails/flappy-2048.png");
}
.cards .tetris {
    background-image: url("../img/thumbnails/tetris.png");
}
.cards .geometry-dash {
    background-image: url("../img/thumbnails/geometry-dash.png");
}
.cards .friday-night-funkin {
    background-image: url("../img/thumbnails/friday-night-funkin.png");
}
.cards .duck-life-4 {
    background-image: url("../img/thumbnails/duck-life-4.png");
}
.cards .frying-nemo {
    background-image: url("../img/thumbnails/frying-nemo.png");
}
.cards .google-snake {
    background-image: url("../img/thumbnails/google-snake.png");
}
.cards .idle-breakout {
    background-image: url("../img/thumbnails/idle-breakout.png");
}
.cards .krunker {
    background-image: url("../img/thumbnails/krunker.png");
}
.cards .learn-to-fly {
    background-image: url("../img/thumbnails/learn-to-fly.png");
}
.cards .learn-to-fly-2 {
    background-image: url("../img/thumbnails/learn-to-fly-2.png");
}
.cards .learn-to-fly-3 {
    background-image: url("../img/thumbnails/learn-to-fly-3.png");
}
.cards .learn-to-fly-idle {
    background-image: url("../img/thumbnails/learn-to-fly-idle.png");
}
.cards .minesweeper {
    background-image: url("../img/thumbnails/minesweeper.png");
}
.cards .moto-x3m-pool-party {
    background-image: url("../img/thumbnails/moto-x3m-pool-party.png");
}
.cards .moto-x3m-spooky-land {
    background-image: url("../img/thumbnails/moto-x3m-spooky-land.png");
}
.cards .moto-x3m-winter {
    background-image: url("../img/thumbnails/moto-x3m-winter.png");
}
.cards .om-nom-bounce {
    background-image: url("../img/thumbnails/om-nom-bounce.png");
}
.cards .papas-burgeria {
    background-image: url("../img/thumbnails/papas-burgeria.png");
}
.cards .papas-pizzeria {
    background-image: url("../img/thumbnails/papas-pizzeria.png");
}
.cards .paper-io-2 {
    background-image: url("../img/thumbnails/paper-io-2.png");
}
.cards .rooftop-snipers {
    background-image: url("../img/thumbnails/rooftop-snipers.png");
}
.cards .smash-karts {
    background-image: url("../img/thumbnails/smash-karts.png");
}
.cards .stack {
    background-image: url("../img/thumbnails/stack.png");
}
.cards .superhot {
    background-image: url("../img/thumbnails/superhot.png");
}
.cards .temple-run-2 {
    background-image: url("../img/thumbnails/temple-run-2.png");
}
.cards .tube-jumpers {
    background-image: url("../img/thumbnails/tube-jumpers.png");
}
.cards .townscaper {
    background-image: url("../img/thumbnails/townscaper.png");
}
.cards .vex-3 {
    background-image: url("../img/thumbnails/vex-3.png");
}
.cards .vex-4 {
    background-image: url("../img/thumbnails/vex-4.png");
}
.cards .vex-5 {
    background-image: url("../img/thumbnails/vex-5.png");
}
.cards .vex-6 {
    background-image: url("../img/thumbnails/vex-6.png");
}
.cards .vex-7 {
    background-image: url("../img/thumbnails/vex-7.png");
}
.cards .getaway-shootout {
    background-image: url("../img/thumbnails/getaway-shootout.png");
}
.cards .awesome-tanks {
    background-image: url("../img/thumbnails/awesome-tanks.png");
}
.cards .bacon-may-die {
    background-image: url("../img/thumbnails/bacon-may-die.png");
}
.cards .wordle {
    background-image: url("../img/thumbnails/wordle.png");
}
.cards .bloons-td-4-expansion-pack {
    background-image: url("../img/thumbnails/bloons-td-4-expansion-pack.png");
}
.cards .worlds-hardest-game {
    background-image: url("../img/thumbnails/worlds-hardest-game.png");
}
.cards .achievement-unlocked {
    background-image: url("../img/thumbnails/achievement-unlocked.png");
}
.cards .a100-player-pong {
    background-image: url("../img/thumbnails/100-player-pong.png");
}
.cards .you-are-bezos {
    background-image: url("../img/thumbnails/you-are-bezos.png");
}
.cards .a1 {
    background-image: url("../img/thumbnails/1.png");
}
.cards .worlds-hardest-game-2 {
    background-image: url("../img/thumbnails/worlds-hardest-game-2.png");
}
.cards .a2048-multitask {
    background-image: url("../img/thumbnails/2048-multitask.png");
}
.cards .a9007199254740992 {
    background-image: url("../img/thumbnails/9007199254740992.png");
}
.cards .backrooms {
    background-image: url("../img/thumbnails/backrooms.png");
}
.cards .breaking-the-bank {
    background-image: url("../img/thumbnails/breaking-the-bank.png");
}
.cards .cannon-basketball-4 {
    background-image: url("../img/thumbnails/cannon-basketball-4.png");
}
.cards .canyon-defense {
    background-image: url("../img/thumbnails/canyon-defense.png");
}
.cards .duck-life {
    background-image: url("../img/thumbnails/duck-life.png");
}
.cards .bloons-td-3 {
    background-image: url("../img/thumbnails/bloons-td-3.png");
}
.cards .osu {
    background-image: url("../img/thumbnails/osu.png");
}
.cards .sonic-the-hedgehog {
    background-image: url("../img/thumbnails/sonic-the-hedgehog.png");
}
.cards .duck-life-2 {
    background-image: url("../img/thumbnails/duck-life-2.png");
}
.cards .papas-pancakeria {
    background-image: url("../img/thumbnails/papas-pancakeria.png");
}
.cards .papas-scooperia {
    background-image: url("../img/thumbnails/papas-scooperia.png");
}
.cards .papas-cupcakeria {
    background-image: url("../img/thumbnails/papas-cupcakeria.png");
}
.cards .papas-bakeria {
    background-image: url("../img/thumbnails/papas-bakeria.png");
}
.cards .papas-pastaria {
    background-image: url("../img/thumbnails/papas-pastaria.png");
}
.cards .papas-sushiria {
    background-image: url("../img/thumbnails/papas-sushiria.png");
}
.cards .papas-donuteria {
    background-image: url("../img/thumbnails/papas-donuteria.png");
}
.cards .papas-wingeria {
    background-image: url("../img/thumbnails/papas-wingeria.png");
}
.cards .papas-hot-doggeria {
    background-image: url("../img/thumbnails/papas-hotdoggeria.png");
}
.cards .papas-taco-mia {
    background-image: url("../img/thumbnails/papas-taco-mia.png");
}
.cards .papas-freezeria {
    background-image: url("../img/thumbnails/papas-freezeria.png");
}
.cards .papas-cheeseria {
    background-image: url("../img/thumbnails/papas-cheeseria.png");
}
.cards .papas-mocharia{
    background-image: url("../img/thumbnails/papas-mocharia.png");
}
.cards .papa-louie {
    background-image: url("../img/thumbnails/papa-louie.png");
}
.cards .papa-louie-2 {
    background-image: url("../img/thumbnails/papa-louie-2.png");
}
.cards .papa-louie-3 {
    background-image: url("../img/thumbnails/papa-louie-3.png");
}
.cards .a12-mini-battles {
    background-image: url("../img/thumbnails/12-mini-battles.png");
}
.cards .clicker-heroes {
    background-image: url("../img/thumbnails/clicker-heroes.png");
}
.cards .a10-more-bullets {
    background-image: url("../img/thumbnails/10-more-bullets.png");
}
.cards .basket-and-ball {
    background-image: url("../img/thumbnails/basket-and-ball.png");
}
.cards .a3d-missile {
    background-image: url("../img/thumbnails/3d-missile.png");
}
.cards .a8-ball-pool {
    background-image: url("../img/thumbnails/8-ball-pool.png");
}
.cards .a99-balls-evo {
    background-image: url("../img/thumbnails/99-balls-evo.png");
}
.cards .gun-blood {
    background-image: url("../img/thumbnails/gun-blood.png");
}
.cards .apple-shooter {
    background-image: url("../img/thumbnails/apple-shooter.png");
}
.cards .achievement-unlocked-3 {
    background-image: url("../img/thumbnails/achievement-unlocked-3.png");
}
.cards .achievement-unlocked-2 {
    background-image: url("../img/thumbnails/achievement-unlocked-2.png");
}
.cards .adam-and-eve {
    background-image: url("../img/thumbnails/adam-and-eve.png");
}
.cards .adam-and-eve-2 {
    background-image: url("../img/thumbnails/adam-and-eve-2.png");
}
.cards .adam-and-eve-3 {
    background-image: url("../img/thumbnails/adam-and-eve-3.png");
}
.cards .age-of-war-2 {
    background-image: url("../img/thumbnails/age-of-war-2.png");
}
.cards .bitlife {
    background-image: url("../img/thumbnails/bitlife.png");
}
.cards .bloons-td-4 {
    background-image: url("../img/thumbnails/bloons-td-4.png");
}
.cards .bob-the-robber {
    background-image: url("../img/thumbnails/bob-the-robber.png");
}
.cards .bow-man {
    background-image: url("../img/thumbnails/bow-man.png");
}
.cards .bow-man-2 {
    background-image: url("../img/thumbnails/bow-man-2.png");
}
.cards .duck-life-treasure-hunt {
    background-image: url("../img/thumbnails/duck-life-treasure-hunt.png");
}
.cards .awesome-tanks-2 {
    background-image: url("../img/thumbnails/awesome-tanks-2.png");
}
.cards .eggy-car {
    background-image: url("../img/thumbnails/eggy-car.png");
}
.cards .pvz-2 {
    background-image: url("../img/thumbnails/pvz-2.png");
}
.cards .green {
    background-image: url("../img/thumbnails/green.png");
}
.cards .mini-stilts {
    background-image: url("../img/thumbnails/mini-stilts.png");
}
.cards .short-ride {
    background-image: url("../img/thumbnails/short-ride.png");
}
.cards .dodge {
    background-image: url("../img/thumbnails/dodge.png");
}
.cards .city-blocks-2 {
    background-image: url("../img/thumbnails/city-blocks-2.png");
}
.cards .a8-ball-billards-classic {
    background-image: url("../img/thumbnails/8-ball-billards-classic.png");
}
.cards .alien-invaders-io {
    background-image: url("../img/thumbnails/alien-invaders-io.png");
}
.cards .a2020-game {
    background-image: url("../img/thumbnails/2020-game.png");
}
.cards .anti-terrorist-rush {
    background-image: url("../img/thumbnails/anti-terrorist-rush.png");
}
.cards .arcade-wizard {
    background-image: url("../img/thumbnails/arcade-wizard.png");
}
.cards .aspiring-artist {
    background-image: url("../img/thumbnails/aspiring-artist.png");
}
.cards .backflip-dive-3d {
    background-image: url("../img/thumbnails/backflip-dive-3d.png");
}
.cards .baldis-basics {
    background-image: url("../img/thumbnails/baldis-basics.png");
}
.cards .basketball-io {
    background-image: url("../img/thumbnails/basketball-io.png");
}
.cards .basketball-legends-2020 {
    background-image: url("../img/thumbnails/basketball-legends-2020.png");
}
.cards .basket-bros-io {
    background-image: url("../img/thumbnails/basket-bros-io.png");
}
.cards .blocky-snakes {
    background-image: url("../img/thumbnails/blocky-snakes.png");
}
.cards .boxel-rebound {
    background-image: url("../img/thumbnails/boxel-rebound.png");
}
.cards .burning-man-2 {
    background-image: url("../img/thumbnails/burning-man-2.png");
}
.cards .clean-up-io {
    background-image: url("../img/thumbnails/clean-up-io.png");
}
.cards .colour-switch-2-challenges {
    background-image: url("../img/thumbnails/colour-switch-2-challenges.png");
}
.cards .death-soul {
    background-image: url("../img/thumbnails/death-soul.png");
}
.cards .dont-drop-the-white-ball-2 {
    background-image: url("../img/thumbnails/dont-drop-the-white-ball-2.png");
}
.cards .duke-dashington-remastered {
    background-image: url("../img/thumbnails/duke-dashington-remastered.png");
}
.cards .finns-fantastic-food-machine {
    background-image: url("../img/thumbnails/finns-fantastic-food-machine.png");
}
.cards .flappy-defense {
    background-image: url("../img/thumbnails/flappy-defense.png");
}
.cards .geo-dash-2 {
    background-image: url("../img/thumbnails/geo-dash-2.png");
}
.cards .factory-balls-forever {
    background-image: url("../img/thumbnails/factory-balls-forever.png");
}
.cards .geometry-jump-sketchy {
    background-image: url("../img/thumbnails/geometry-jump-sketchy.png");
}
.cards .golf {
    background-image: url("../img/thumbnails/golf.png");
}
.cards .iscribble-io {
    background-image: url("../img/thumbnails/iscribble-io.png");
}
.cards .kart-fight-io {
    background-image: url("../img/thumbnails/kart-fight-io.png");
}
.cards .klocki {
    background-image: url("../img/thumbnails/klocki.png");
}
.cards .jellydad-hero {
    background-image: url("../img/thumbnails/jellydad-hero.png");
}
.cards .linquest {
    background-image: url("../img/thumbnails/linquest.png");
}
.cards .moto-x3m-2 {
    background-image: url("../img/thumbnails/moto-x3m-2.png");
}
.cards .one-screen-run-2 {
    background-image: url("../img/thumbnails/one-screen-run-2.png");
}
.cards .one-screen-run {
    background-image: url("../img/thumbnails/one-screen-run.png");
}
.cards .pacman-fps {
    background-image: url("../img/thumbnails/pacman-fps.png");
}
.cards .super-mario-64 {
    background-image: url("../img/thumbnails/super-mario-64.png");
}
.cards .gun-mayhem-2 {
    background-image: url("../img/thumbnails/gun-mayhem-2.png");
}
.cards .run-3 {
    background-image: url("../img/thumbnails/run-3.png");
}
.cards .gun-mayhem {
    background-image: url("../img/thumbnails/gun-mayhem.png");
}
.cards .doom-64 {
    background-image: url("../img/thumbnails/doom.png");
}
.cards .cookie-clicker {
    background-image: url("../img/thumbnails/cookie-clicker.png");
}
.cards .evil-glitch {
    background-image: url("../img/thumbnails/evil-glitch.png");
}
.cards .fake-virus {
    background-image: url("../img/thumbnails/fake-virus.png");
}
.cards .fancy-pants-adventures {
    background-image: url("../img/thumbnails/fancy-pants-adventures.png");
}
.cards .flippy-fish {
    background-image: url("../img/thumbnails/flippy-fish.png");
}
.cards .froggys-battle {
    background-image: url("../img/thumbnails/froggys-battle.png");
}
.cards .generic-fishing-game {
    background-image: url("../img/thumbnails/generic-fishing-game.png");
}
.cards .game-inside-a-game {
    background-image: url("../img/thumbnails/game-inside-a-game.png");
}
.cards .george-and-the-printer {
    background-image: url("../img/thumbnails/george-and-the-printer.png");
}
.cards .gimme-the-airpod {
    background-image: url("../img/thumbnails/gimme-the-airpod.png");
}
.cards .gravity-soccer {
    background-image: url("../img/thumbnails/gravity-soccer.png");
}
.cards .grey-box-testing {
    background-image: url("../img/thumbnails/grey-box-testing.png");
}
.cards .grindcraft {
    background-image: url("../img/thumbnails/grindcraft.png");
}
.cards .hacker-typer {
    background-image: url("../img/thumbnails/hacker-typer.png");
}
.cards .kitchen-gun-game {
    background-image: url("../img/thumbnails/kitchen-gun-game.png");
}
.cards .kitten-cannon {
    background-image: url("../img/thumbnails/kitten-cannon.png");
}
.cards .madalin-stunt-cars-2 {
    background-image: url("../img/thumbnails/madalin-stunt-cars-2.png");
}
.cards .madalin-stunt-cars-3 {
    background-image: url("../img/thumbnails/madalin-stunt-cars-3.png");
}
.cards .super-mario-bros {
    background-image: url("../img/thumbnails/super-mario-bros.png");
}
.cards .meme-2048 {
    background-image: url("../img/thumbnails/meme-2048.png");
}
.cards .protektor {
    background-image: url("../img/thumbnails/protektor.png");
}
.cards .push-the-square {
    background-image: url("../img/thumbnails/push-the-square.png");
}
.cards .push-your-luck {
    background-image: url("../img/thumbnails/push-your-luck.png");
}
.cards .rise-of-the-neon-square {
    background-image: url("../img/thumbnails/rise-of-the-neon-square.png");
}
.cards .rocking-sky-trip {
    background-image: url("../img/thumbnails/rocking-sky-trip.png");
}
.cards .rolling-forests {
    background-image: url("../img/thumbnails/rolling-forests.png");
}
.cards .tactical-weapon-pack-2 {
    background-image: url("../img/thumbnails/tactical-weapon-pack-2.png");
}
.cards .tunnel-rush {
    background-image: url("../img/thumbnails/tunnel-rush.png");
}
.cards .happy-wheels {
    background-image: url("../img/thumbnails/happy-wheels.png");
}
.cards .getting-over-it-scratch-edition {
    background-image: url("../img/thumbnails/getting-over-it-scratch-edition.png");
}
.cards .a1-on-1-soccer {
    background-image: url("../img/thumbnails/1-on-1-socer.png");
}
.cards .n-gon {
    background-image: url("../img/thumbnails/n-gon.png");
}
.cards .stickman-hook {
    background-image: url("../img/thumbnails/stickman-hook.png");
}
.cards .chrome-dino {
    background-image: url("../img/thumbnails/chrome-dino.png");
}
.cards .raft-wars {
    background-image: url("../img/thumbnails/raft-wars.png");
}
.cards .raft-wars-2 {
    background-image: url("../img/thumbnails/raft-wars-2.png");
}
.cards .fnaf {
    background-image: url("../img/thumbnails/fnaf.png");
}
.cards .globle {
    background-image: url("../img/thumbnails/globle.png");
}
.cards .age-of-war {
    background-image: url("../img/thumbnails/age-of-war.png");
}
.cards .another-gentlemans-adventure {
    background-image: url("../img/thumbnails/another-gentlemans-adventure.png");
}
.cards .haxball {
    background-image: url("../img/thumbnails/haxball.png");
}
.cards .angry-birds {
    background-image: url("../img/thumbnails/angry-birds.png");
}
.cards .fortnite {
    background-image: url("../img/thumbnails/fortnite.png");
}
.cards .slither-io {
    background-image: url("../img/thumbnails/slither-io.png");
}
.cards .shell-shockers {
    background-image: url("../img/thumbnails/shell-shockers.png");
}
.cards .my-singing-monsters {
    background-image: url("../img/thumbnails/my-singing-monsters.png");
}
.cards .super-fighters {
    background-image: url("../img/flash-games/super-fighters.png");
}
.cards .roblox {
    background-image: url("../img/thumbnails/roblox.png");
}
.cards .granny {
    background-image: url("../img/thumbnails/granny.png");
}
.cards .rhythm-plus {
    background-image: url("../img/thumbnails/rhythm-plus.png");
}
.cards .flappy-bird {
    background-image: url("../img/thumbnails/flappy-bird.png");
}
.cards .hobo {
    background-image: url("../img/thumbnails/hobo.png");
}
.cards .hobo-2 {
    background-image: url("../img/thumbnails/hobo-2.png");
}
.cards .hobo-3 {
    background-image: url("../img/thumbnails/hobo-3.png");
}
.cards .hobo-4 {
    background-image: url("../img/thumbnails/hobo-4.png");
}
.cards .hobo-5 {
    background-image: url("../img/thumbnails/hobo-5.png");
}
.cards .hobo-6 {
    background-image: url("../img/thumbnails/hobo-6.png");
}
.cards .hobo-7 {
    background-image: url("../img/thumbnails/hobo-7.png");
}
.cards .qwop {
    background-image: url("../img/thumbnails/qwop.png");
}
.cards .strike-force-heroes-2 {
    background-image: url("../img/thumbnails/strike-force-heroes-2.png");
}
.cards .strike-force-heroes-3 {
    background-image: url("../img/thumbnails/strike-force-heroes-3.png");
}
.cards .jacksmith {
    background-image: url("../img/thumbnails/jack-smith.png");
}
.cards .portal-flash {
    background-image: url("../img/thumbnails/portal-flash.png");
}
.cards .candy-crush {
    background-image: url("../img/thumbnails/candy-crush.png");
}
.cards .riddle-school {
    background-image: url("../img/thumbnails/riddle-school.png");
}
.cards .riddle-school-2 {
    background-image: url("../img/thumbnails/riddle-school-2.png");
}
.cards .riddle-school-3 {
    background-image: url("../img/thumbnails/riddle-school-3.png");
}
.cards .riddle-school-4 {
    background-image: url("../img/thumbnails/riddle-school-4.png");
}
.cards .riddle-school-5 {
    background-image: url("../img/thumbnails/riddle-school-5.png");
}
.cards .riddle-transfer {
    background-image: url("../img/thumbnails/riddle-transfer.png");
}
.cards .riddle-transfer-2 {
    background-image: url("../img/thumbnails/riddle-transfer-2.png");
}
.cards .rebuild {
    background-image: url("../img/thumbnails/rebuild.png");
}
.cards .rebuild-2 {
    background-image: url("../img/thumbnails/rebuild-2.png");
}
.cards .diggy {
    background-image: url("../img/thumbnails/diggy.png");
}
.cards .bomb-it {
    background-image: url("../img/flash-games/bomb-it.png");
}
.cards .penguin-diner {
    background-image: url("../img/thumbnails/penguin-diner.png");
}
.cards .penguin-diner-2 {
    background-image: url("../img/thumbnails/penguin-diner-2.png");
}
.cards .effing-worms {
    background-image: url("../img/thumbnails/effing-worms.png");
}
.cards .effing-worms-2 {
    background-image: url("../img/thumbnails/effing-worms-2.png");
}
.cards .effing-worms-xmas {
    background-image: url("../img/thumbnails/effing-worms-xmas.png");
}
.cards .effing-hail {
    background-image: url("../img/thumbnails/effing-hail.png");
}
.cards .wheely {
    background-image: url("../img/flash-games/wheely.png");
}
.cards .wheely-2 {
    background-image: url("../img/flash-games/wheely-2.png");
}
.cards .wheely-3 {
    background-image: url("../img/flash-games/wheely-3.png");
}
.cards .wheely-4 {
    background-image: url("../img/flash-games/wheely-4.png");
}
.cards .wheely-5 {
    background-image: url("../img/flash-games/wheely-5.png");
}
.cards .wheely-6 {
    background-image: url("../img/flash-games/wheely-6.png");
}
.cards .wheely-7 {
    background-image: url("../img/flash-games/wheely-7.png");
}
.cards .wheely-8 {
    background-image: url("../img/flash-games/wheely-8.png");
}
.cards .fortz {
    background-image: url("../img/thumbnails/fortz.png");
}
.cards .last-stand-union-city {
    background-image: url("../img/thumbnails/last-stand-union-city.png");
}
.cards .my-friend-pedro {
    background-image: url("../img/thumbnails/my-friend-pedro.png");
}
.cards .shopping-street {
    background-image: url("../img/thumbnails/shopping-street.png");
}
.cards .shopping-city {
    background-image: url("../img/thumbnails/shopping-city.png");
}
.cards .little-alchemy {
    background-image: url("../img/thumbnails/little-alchemy.png");
}
.cards .alxemy {
    background-image: url("../img/thumbnails/alxemy.png");
}
.cards .big-shot-boxing {
    background-image: url("../img/thumbnails/big-shot-boxing.png");
}
.cards .monkey-mart {
    background-image: url("../img/thumbnails/monkey-mart.png");
}
.cards .tiny-fishing {
    background-image: url("../img/thumbnails/tiny-fishing.png");
}
.cards .slope-2 {
    background-image: url("../img/thumbnails/slope-2.png");
}
.cards .slope-3 {
    background-image: url("../img/thumbnails/slope-3.png");
}
.cards .tanuki-sunset {
    background-image: url("../img/thumbnails/tanuki-sunset.png");
}
.cards .stickman-hook {
    background-image: url("../img/thumbnails/stickman-hook.png");
}
.cards .adofai {
    background-image: url("../img/thumbnails/adofai.png");
}
.cards .binding-of-isaac {
    background-image: url("../img/thumbnails/binding-of-isaac.png");
}
.cards .time-shooter-2 {
    background-image: url("../img/thumbnails/time-shooter-2.png");
}
.cards .time-shooter-3 {
    background-image: url("../img/thumbnails/time-shooter-3.png");
}
.cards .sm64 {
    background-image: url("../img/thumbnails/sm64.png");
}
.cards .haunt-the-house {
    background-image: url("../img/thumbnails/haunt-the-house.png");
}
.cards .dig-to-china {
    background-image: url("../img/thumbnails/dig-to-china.png");
}
.cards .fbwg-5 {
    background-image: url("../img/thumbnails/fbwg-5.png");
}
.cards .money-movers-3 {
    background-image: url("../img/thumbnails/money-movers-3.png");
}
.cards .dumb-ways-to-die-htf-edition {
    background-image: url("../img/thumbnails/dumb-ways-to-die-htf-edition.png");
}
.cards .mini-mall-millionaire {
    background-image: url("../img/thumbnails/mini-mall-millionaire.png");
}
.cards .fruit-ninja {
    background-image: url("../img/thumbnails/fruit-ninja.png");
}
.cards .bloons-td-6 {
    background-image: url("../img/thumbnails/bloons-td-6.png");
}
.cards .jetpack-joyride {
    background-image: url("../img/thumbnails/jetpack-joyride.png");
}
.cards .helix-jump {
    background-image: url("../img/thumbnails/helix-jump.png");
}
.cards .hexgl {
    background-image: url("../img/thumbnails/hexgl.png");
}
.cards .duck-life-6 {
    background-image: url("../img/thumbnails/duck-life-6.png");
}
.cards .bad-piggies {
    background-image: url("../img/thumbnails/bad-piggies.png");
}
.cards .gun-mayhem-3 {
    background-image: url("../img/thumbnails/gun-mayhem-3.png");
}
.cards .fnaf-2 {
    background-image: url("../img/thumbnails/fnaf-2.png");
}
.cards .fnaf-3 {
    background-image: url("../img/thumbnails/fnaf-3.png");
}
.cards .fnaf-4 {
    background-image: url("../img/thumbnails/fnaf-4.png");
}
.cards .burrito-bison {
    background-image: url("../img/thumbnails/burrito-bison.png");
}
.cards .cell-machine {
    background-image: url("../img/thumbnails/cell-machine.png");
}
.cards .fluid-simulator {
    background-image: url("../img/thumbnails/fluid-simulator.png");
}
.cards .adventure-capitalist {
    background-image: url("../img/thumbnails/adventure-capitalist.png");
}
.cards .chibi-knight {
    background-image: url("../img/thumbnails/chibi-knight.png");
}
.cards .champion-island {
    background-image: url("../img/thumbnails/champion-island.png");
}
.cards .circloo {
    background-image: url("../img/thumbnails/circloo.png");
}
.cards .colour-switch {
    background-image: url("../img/thumbnails/colour-switch.png");
}
.cards .trap-the-cat {
    background-image: url("../img/thumbnails/trap-the-cat.png");
}
.cards .adrenaline-challenge {
    background-image: url("../img/thumbnails/adrenaline-challenge.png");
}
.cards .avalanche {
    background-image: url("../img/thumbnails/avalanche.png");
}
.cards .battle-for-gondor {
    background-image: url("../img/thumbnails/battle-for-gondor.png");
}
.cards .the-black-knight {
    background-image: url("../img/thumbnails/the-black-knight.png");
}
.cards .boxhead2play {
    background-image: url("../img/thumbnails/boxhead2play.png");
}
.cards .champion-archer {
    background-image: url("../img/thumbnails/champion-archer.png");
}
.cards .connect-3 {
    background-image: url("../img/thumbnails/connect-3.png");
}
.cards .creative-kill-chamber {
    background-image: url("../img/thumbnails/creative-kill-chamber.png");
}
.cards .csgo-clicker {
    background-image: url("../img/thumbnails/csgo-clicker.png");
}
.cards .cubefield {
    background-image: url("../img/thumbnails/cubefield.png");
}
.cards .skribbl-io {
    background-image: url("../img/thumbnails/skribbl-io.png");
}
.cards .johnny-upgrade {
    background-image: url("../img/thumbnails/johnny-upgrade.png");
}
.cards .house-of-hazards {
    background-image: url("../img/thumbnails/house-of-hazards.png");
}
.cards .doge-miner-2 {
    background-image: url("../img/thumbnails/doge-miner-2.png");
}
.cards .strike-force-heroes {
    background-image: url("../img/thumbnails/strike-force-heroes.png");
}
.cards .jelly-truck {
    background-image: url("../img/thumbnails/jelly-truck.png");
}
.cards .stumble-guys {
    background-image: url("../img/thumbnails/stumble-guys.png");
}
.cards .cod-mobile {
    background-image: url("../img/thumbnails/cod-mobile.png");
}
.cards .pubg-mobile {
    background-image: url("../img/thumbnails/pubg-mobile.png");
}
.cards .cookie-run {
    background-image: url("../img/thumbnails/cookie-run.png");
}
.cards .my-singing-monsters {
    background-image: url("../img/thumbnails/my-singing-monsters.png");
}
.cards .pixel-gun-3d {
    background-image: url("../img/thumbnails/pixel-gun-3d.png");
}
.cards .world-box {
    background-image: url("../img/thumbnails/world-box.png");
}
.cards .android {
    background-image: url("../img/thumbnails/android.png");
}
.cards .rocket-league-sideswipe {
    background-image: url("../img/thumbnails/rocket-league-sideswipe.png");
}
.cards .bowmasters {
    background-image: url("../img/thumbnails/bowmasters.png");
}
.cards .sims-mobile {
    background-image: url("../img/thumbnails/sims-mobile.png");
}
.cards .voxiom-io {
    background-image: url("../img/thumbnails/voxiom-io.png");
}
.cards .forge-of-empires {
    background-image: url("../img/thumbnails/forge-of-empires.png");
}
.cards .super-auto-pets {
    background-image: url("../img/thumbnails/super-auto-pets.png");
}
.cards .dragon-city {
    background-image: url("../img/thumbnails/dragon-city.png");
}
.cards .venge-io {
    background-image: url("../img/thumbnails/venge-io.png");
}
.cards .hungry-shark-evolution {
    background-image: url("../img/thumbnails/hungry-shark-evolution.png");
}
.cards .one-more-flight {
    background-image: url("../img/thumbnails/one-more-flight.png");
}
.cards .tidal-wave {
    background-image: url("../img/thumbnails/tidal-wave.png");
}
.cards .minecraft-classic {
    background-image: url("../img/thumbnails/minecraft-classic.png");
}
.cards .little-alchemy-2 {
    background-image: url("../img/thumbnails/little-alchemy-2.png");
}
.cards . {
    background-image: url("../img/thumbnails/.png");
}