@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #cccccc;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --widget-text: rgb(255, 255, 255);
    --widget-color: #3a3b3ca8;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body {
    min-height: 100vh;
    background-image: url(../img/backgrounds/5.gif);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.home {
    margin-top: 10px;
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
#searchInput::placeholder {
    text-align: center;
}
#searchInput {
    margin-top: 0px;
    width: 100vw;
    padding: 8px 20px 8px 40px;
    text-align: center;
    border: 1px solid #ddd;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 40px;
}
.cards a {
    text-decoration: none;
}

.cards .card {
    margin-bottom: 30px;
    margin: 0 15px 30px;
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.cards .card h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 1px;
    padding-left: 1px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}
@media (max-width: 400px) {
    .cards {
        padding: 0 10px;
    }

    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }

    .cards .p {
        height: 70px;
        width: 70px;
    }

    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .cards {
        padding: 0 10px;
    }

    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }

    .cards .p {
        height: 70px;
        width: 70px;
    }

    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
}
@media (min-width: 501px) and (max-width: 600px){
    .cards {
        padding: 0 10px;
    }

    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }

    .cards .p {
        height: 70px;
        width: 70px;
    }

    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
}
@media (min-width: 601px) and (max-width: 700px){
    .cards {
        padding: 0 10px;
    }

    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }

    .cards .p {
        height: 70px;
        width: 70px;
    }

    .cards .card h2 {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 14px;
    }
}
@media (min-width: 701px) and (max-width: 899px){
    .cards {
        padding: 0 10px;
    }

    .cards .card {
        margin: 0 10px 20px;
        border-radius: 15px;
    }

    .cards .p {
        height: 100px;
        width: 100px;
    }

    .cards .card h2 {
        font-size: 14px;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    #searchInput {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    .cards .g {
        height: 120px;
        width: 264px;
    }
    
    .cards .p {
        height: 120px;
        width: 120px;
    }
    .cards .card h2 {
        font-size: 15px;
    }
    #searchInput {
        font-size: 20px;
    }
}