@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), 
        url(../img/backgrounds/1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}
.search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
  }
.form__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    background-color: rgba(147, 141, 141, 0.8);
    text-align: center;
    color: #fff;
    padding-right: 40px;
    font-family: Lato;
    box-sizing: border-box;
    transition: width 0.3s ease;
  }
.form__input::placeholder {
  color: #fff;
  text-align: center;
}
.form__input:hover::placeholder {
    color: transparent;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(252, 252, 252, 0.5);
}
.large-logo p {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
}
.large-logo {
    margin-bottom: 30px;
}
@media (max-width: 400px) {
    .large-logo {
        font-size: 38px;
    }
    .form__input {
        width: 80vw;
        height: 40px;
        font-size: 17px;
    }
    .search-icon {
        right: 40px;
    }
    .box-container {
        gap: 6px;
    }
    .box, .add-box {
        width: 10px;
        height: 55px;
        padding: 5px;
    }
    .add-box {
        display: none!important;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .large-logo {
        font-size: 40px;
    }
    .form__input {
        width: 280px;
        height: 40px;
        font-size: 16px;
    }
    .search-icon {
        right: 55px;
    }
    .box-container {
        gap: 6px;
    }
    .box, .add-box {
        width: 10px;
        height: 60px;
        padding: 5px;
    }
    .add-box {
        display: none!important;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    .large-logo {
        font-size: 46px;
    }
    .form__input {
        width: 300px;
        font-size: 17px;
    }
    .search-icon {
        right: 75px;
    }
    .box-container {
        gap: 8px;
    }
    .box, .add-box {
        width: 80px;
        height: 70px;
        padding: 5px;
    }
    .add-box {
        display: none!important;
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 400px;
        font-size: 24px;
    }
    .search-icon {
        right: 80px;
    }
    .box-container {
        gap: 8px;
    }
    .box, .add-box {
        width: 90px;
        height: 90px;
        padding: 5px;
    }
    .add-box {
        display: none!important;
    }
}
@media (min-width: 701px) and (max-width: 800px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 500px;
        font-size: 26px;
    }
    .search-icon {
        right: 80px;
    }
    .box-container {
        gap: 8px;
    }
    .box, .add-box {
        width: 90px;
        height: 90px;
        padding: 5px;
    }
}
@media (min-width: 801px) and (max-width: 900px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 500px;
        font-size: 26px;
    }
    .search-icon {
        right: 80px;
    }
    .box-container {
        gap: 8px;
    }
    .box, .add-box {
        width: 90px;
        height: 90px;
        padding: 5px;
    }
}
@media (min-width: 901px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 350px;
        font-size: 20px;
    }
    .search-icon {
        right: 100px;
    }
    .box-container {
        gap: 15px;
    }
    .box, .add-box {
        width: 80px;
        height: 80px;
        padding: 5px;
    }
}
/* This hides the continue playing box */
@media (max-width: 700px) {
    .recent {
        display: none;
    }
}
@media (max-width: 700px) {
    .logo-small {
        display: none;
    }
}
.box-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;
}

.box, .add-box {
    border-radius: 12px;
    background-color: #f4f4f4;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: transform 0.3s ease;
}
.box {
    flex: 1;
}
a.box {
    text-decoration: none;
    color: inherit;
}
.box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.box:hover {
    transform: scale(1.3);
    z-index: 2;
}
.add-box:hover {
    transform: scale(1.3);
    z-index: 2;
    background-color: rgba(65, 63, 63, 1);
}
.add-box {
    background-color: rgba(65, 63, 63, 0.8);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}
.add-box i {
    font-size: 28px;
    color: #ffffff;
}
.box.youtube {
    background-image: url("/assets/img/websites/youtube.png");
}
.box.reddit {
    background-image: url("/assets/img/websites/reddit.png");
}
.box.google {
    background-image: url("/assets/img/websites/google.png");
}
.box.tiktok {
    background-image: url("/assets/img/websites/tiktok.png");
}
.box.spotify {
    background-image: url("/assets/img/websites/spotify.png");
}
.box.discord {
    background-image: url("/assets/img/websites/discord.png");
}
.box.twitter {
    background-image: url("/assets/img/websites/twitter.png");
}
.box.twitch {
    background-image: url("/assets/img/websites/twitch.png");
}
.box.y8 {
    background-image: url("/assets/img/websites/y8.png");
}
.box.coolmath-games {
    background-image: url("/assets/img/websites/coolmath-games.png");
}
.box.retroarch {
    background-image: url("/assets/img/websites/retroarch.png");
}
.box.chatgpt{
    background-image: url("/assets/img/websites/chatgpt.png");
}
.box.movie-web{
    background-image: url("/assets/img/websites/movie-web.png");
}
.popup-menu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.custom-context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
}

.context-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;
}

.context-menu-list li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu-list li:hover {
    background-color: #f0f0f0;
}
.recent {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 400px;
    height: 200px;
    border-radius: 12px;
    background-color: #1e2124;
    opacity: 0.85;
    box-shadow: 4px 3px 8px 1px #96969633;
    -webkit-box-shadow: 4px 3px 8px 1px #96969633;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    font-family: Lato;
    z-index: 10;
    margin-top: 60px;
    margin-right: 40px;
}
.recent .activity a{
    margin-left: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.recent .activity .appname{
    margin-left: 25px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));

}
.recent .activity .imgcont {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
}
.recent .activity .imgcont:hover {
    transform: scale(1.3);
    z-index: 11;
}
.recent .text5 {
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
 }