@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), 
        url(../img/backgrounds/1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}
.search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
  }
.form__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    background-color: rgba(147, 141, 141, 0.8);
    text-align: center;
    color: #fff;
    padding-right: 40px;
    font-family: Lato;
    box-sizing: border-box;
    transition: width 0.3s ease;
  }
.form__input::placeholder {
  color: #fff;
  text-align: center;
}
.form__input:hover::placeholder {
    color: transparent;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(252, 252, 252, 0.5);
}
.large-logo p {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
}
.large-logo {
    margin-bottom: 30px;
}
@media (max-width: 400px) {
    .large-logo {
        font-size: 38px;
    }
    .form__input {
        width: 80vw;
        font-size: 16px;
    }
    .search-icon {
        right: 180px;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .large-logo {
        font-size: 40px;
    }
    .form__input {
        width: 280px;
        font-size: 16px;
    }
    .search-icon {
        right: 180px;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    .large-logo {
        font-size: 46px;
    }
    .form__input {
        width: 300px;
        font-size: 17px;
    }
    .search-icon {
        right: 170px;
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 300px;
        font-size: 18px;
    }
    .search-icon {
        right: 165px;
    }
}
@media (min-width: 701px) {
    .large-logo {
        font-size: 56px;
    }
    .form__input {
        width: 350px;
        font-size: 20px;
    }
    .search-icon {
        right: 140px;
    }
    .form__input:hover {
        width: 400px;
    }
    .form__input:hover ~ .search-icon {
        right: 120px;
    }
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    margin: 0 auto;
}

.box, .add-box {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-between;
    padding: 10px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: transform 0.3s ease;
}
a.box {
    text-decoration: none;
    color: inherit;
}
.box img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.box:hover {
    transform: scale(1.3);
    z-index: 2;
}
.add-box:hover {
    transform: scale(1.3);
    z-index: 2;
    background-color: rgba(65, 63, 63, 1);
}

.add-box {
    background-color: rgba(65, 63, 63, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.add-box i {
    font-size: 28px;
    color: #ffffff;
}
/* template
.box. {
    background-image: url("/assets/img/websites/");
}
*/
.box.youtube {
    background-image: url("/assets/img/websites/youtube.png");
}
.box.reddit {
    background-image: url("/assets/img/websites/reddit.png");
}
.box.google {
    background-image: url("/assets/img/websites/google.png");
}
.box.tiktok {
    background-image: url("/assets/img/websites/tiktok.png");
}
.box.spotify {
    background-image: url("/assets/img/websites/spotify.png");
}
.box.discord {
    background-image: url("/assets/img/websites/discord.png");
}
.box.twitter {
    background-image: url("/assets/img/websites/twitter.png");
}
.box.twitch {
    background-image: url("/assets/img/websites/twitch.png");
}
.box.y8 {
    background-image: url("/assets/img/websites/y8.png");
}
.box.coolmath-games {
    background-image: url("/assets/img/websites/coolmath-games.png");
}
.box.retroarch {
    background-image: url("/assets/img/websites/retroarch.png");
}
.box.chatgpt{
    background-image: url("/assets/img/websites/chatgpt.png");
}