@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0; 
  left: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #121111;
  overflow-x: hidden;
  background-image: url(/assets/img/backgrounds/loading.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 50%;
  height: 100vh;
  color: #ffffff;
}
*, *:before, *:after {
  box-sizing: border-box;
}