@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
        url(/assets/img/backgrounds/1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  width: 26vw;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  padding-right: 40px; /* Provide space for the icon on the right side */
  position: relative; /* Add relative positioning */
}



.form__input::placeholder {
  color: #aaa;
  text-align: center;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(252, 252, 252, 0.5);
}
