@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: 
          linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
          url(/assets/img/backgrounds/1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Centers children vertically */
    height: 100vh;        /* Takes the full viewport height */
    padding: 20px;
}
.title-line1 {
    margin-bottom: 10px;
    white-space: nowrap;
}
.title-line2 {
    color: #3d4284;
}
.title-line1, .title-line2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.description-text {
    margin-top: 10px;
    color: #c7c7c7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
}

.browser {
    width: 40%;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 12px;
    margin-top: 80px;
    transform: translateY(-20%);
    box-shadow: none; /* Removes any box shadow */
}
.tabs {
    display: flex;
    background: #1c1c1c; /* Set the background color the same as inactive tabs */
    padding-top: 10px;
}
.tab {
    flex: 1;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #1c1c1c; /* Inactive tabs are darker */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 5px; /* Slight spacing on the right */
    border-bottom: none; /* Remove the bottom border to attach tabs to the menu bar */
    color: white;
    font-family: 'Roboto', sans-serif;
}
.tab:first-child {
    margin-left: 10px;  /* Adjust the value as needed */
}
.tab:last-child {
    margin-right: 10px; /* Remove right margin for the last tab */
}
.menu-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-top: none;
    z-index: 10;
}
.tab.active {
    background-color: #333;
}
.tab-content {
    background-color: transparent;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}
.tab:hover {
    background: grey;
    color: white;
}
.nav-button {
    background: none; /* Removes default button background */
    border: none; /* Removes default border */
    cursor: pointer;
    color: white; /* Icon color */
    font-size: 16px; /* Adjust icon size */
    margin-right: 10px; /* Spacing between buttons */
    padding: 8px; /* Padding to provide space for the grey circle on hover */
    border-radius: 50%; /* Makes the button circular */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.nav-button:hover {
    background-color: grey; /* Grey circle on hover */
}
#menu-btn {
    margin-left: 10px;
    width: 32px;    /* Set a specific width */
    height: 32px;   /* Set a specific height to match the width */
    display: flex;  /* Use flex to center the icon */
    align-items: center;
    justify-content: center;
}
.url-bar {
    flex: 1;
    padding: 5px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #ccc; /* Optional: Add a light border for visual clarity */
    background-color: #1c1c1c;
    color: #ccc;
}
.url-bar:focus {
    outline: none;
}
.video {
    width: 100%;
    height: 100%;
    overflow: hidden;  /* Hide any overflow content */
}

video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 350px) {
    .title-line1, .title-line2 {
        font-size: 24px;
    }
}
@media (min-width: 351px) and (max-width: 500px) {
    .title-line1, .title-line2 {
        font-size: 28px;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    .title-line1, .title-line2 {
        font-size: 32px;
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    .title-line1, .title-line2 {
        font-size: 36px;
    }
}
@media (min-width: 701px) and (max-width: 800px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
}
@media (min-width: 801px) and (max-width: 900px) {
    .title-line1, .title-line2 {
        font-size: 44px;
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    .title-line1, .title-line2 {
        font-size: 30px;
    }
    .left-content {
        padding-left: 150px;
    }
}
@media (min-width: 1001px) and (max-width: 1100px) {
    .title-line1, .title-line2 {
        font-size: 38px;
    }
    .left-content {
        padding-left: 0px;
    }
    .browser {
        height: 50vh;
        width: 50vw;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
}
@media (min-width: 1101px) and (max-width: 1200px) {
    .title-line1, .title-line2 {
        font-size: 42px;
    }
    .left-content {
        padding-left: 0px;
    }
    .browser {
        height: 50vh;
        width: 50vw;
    }
    .description-text {
        font-size: 18px;
        margin-right: 10px;
    }
}
@media (min-width: 1201px) and (max-width: 1300px) {
    .title-line1, .title-line2 {
        font-size: 54px;
    }
}
@media (min-width: 1301px) and (max-width: 1400px) {
    .title-line1, .title-line2 {
        font-size: 54px;
    }
}
@media (min-width: 1401px) {
    .title-line1, .title-line2 {
        font-size: 75px;
    }
    .left-content {
        padding-left: 80px;
    }
    .browser {
        height: 340px;
        width: 545px;
        margin-right: 80px;
    }
    .description-text {
        font-size: 30px;
        margin-right: 50px;
    }
    video {
        top: 59%;
        transform: translate(-50%, -50%) scale(1);
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e2124;; 
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}
/* Add these styles to your existing CSS */
.faq-container {
    margin-top: -150px;
    margin-bottom: 50px;
    padding: 20px;
    background: #1e2124;
    opacity: 0.85;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Slightly visible border */
    width: 80%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.faq-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 28px;
    margin-bottom: 18px;
}

.faq-item {
    background-color: rgba(155, 155, 155, 0.3); /* Darker background for each item */
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}

.faq-item summary {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}

.faq-item p {
    color: #ddd;
    padding: 10px;
    margin: 0;
}

/* Style the details/summary dropdown */
details {
    border-radius: 5px;
}

details > summary {
    list-style: none;
    cursor: pointer;
}

details > summary::-webkit-details-marker {
    display: none;
}
