@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: 
          linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
          url(../img/backgrounds/1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.title-line1 {
    white-space: nowrap;
}
.title-line2 {
    color: #3d4284;
}
.title-line1, .title-line2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.description-text {
    margin-top: 10px;
    color: #c7c7c7;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    max-width: 900px;
}

.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
}
@media (max-width: 350px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 351px) and (max-width: 500px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 601px) and (max-width: 700px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 701px) and (max-width: 800px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 801px) and (max-width: 900px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 17px;
        margin-right: 10px;
    }
    .cards .p {
        height: 80px;
        width: 80px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    } 
    .cards {
        width: 560px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 10px;
    }
    .description-text {
        font-size: 18px;
        margin-right: 10px;
    }
    .cards .p {
        height: 80px;
        width: 80px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    } 
    .cards {
        width: 560px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 1001px) and (max-width: 1100px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 10px;
    }
    .description-text {
        font-size: 18px;
        margin-right: 10px;
    }
    .cards .p {
        height: 80px;
        width: 80px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }  
    .cards {
        width: 560px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 1101px) and (max-width: 1200px) {
    .title-line1, .title-line2 {
        font-size: 40px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 18px;
        margin-right: 20px;
    }
    .cards .p {
        height: 80px;
        width: 80px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 580px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 1201px) and (max-width: 1300px) {
    .title-line1, .title-line2 {
        font-size: 46px;
    }
    .left-content {
        padding-left: 0px;
    }
    .description-text {
        font-size: 20px;
        margin-right: 30px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 1301px) and (max-width: 1400px) {
    .title-line1, .title-line2 {
        font-size: 50px;
    }
    .left-content {
        padding-left: 20px;
    }
    .description-text {
        font-size: 20px;
        margin-right: 30px;
    }
    .cards .p {
        height: 85px;
        width: 85px;
    }
    .cards .card h2 {
        font-size: 11px;
    }
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 600px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
@media (min-width: 1401px) {
    .title-line1, .title-line2 {
        font-size: 52px;
    }
    .left-content {
        padding-left: 20px;
    }
    .description-text {
        font-size: 20px;
        margin-right: 30px;
    }
    .cards .p {
        height: 100px;
        width: 100px;
    }
    .cards .card h2 {
        font-size: 11px;
    }   
    .cards .card {
        margin: 0 11px 15px;
    }
    .cards {
        width: 700px;
    }
    .game-cards-container {
        margin-left: 20px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e2124;; 
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}
.faq-container {
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 20px;
    background: #1e2124;
    opacity: 0.85;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}
.faq-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 28px;
    margin-bottom: 18px;
}
.faq-item {
    background-color: rgba(155, 155, 155, 0.3);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}
.faq-item summary {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}
.faq-item p {
    color: #ddd;
    padding: 10px;
    margin: 0;
}
details {
    border-radius: 5px;
}
details > summary {
    list-style: none;
    cursor: pointer;
}
details > summary::-webkit-details-marker {
    display: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif !important;
}

.cards a {
    text-decoration: none;
}

.cards .card {
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
    -webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-color: white;
    transition: background-color 0.3s;
    z-index: 1;
    transition: transform 0.3s ease;
}

.cards .card:hover {
    transform: scale(1.3);
    z-index: 2;
}

.cards .card h2 {
    margin-left: 12px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 1px;
    padding-left: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #3a3b3ca8;
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
    -webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}
.game-cards-container {
    background: #1e2124;
    opacity: 0.85;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    width: auto;
}
.trending-games-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: #1e2124;
    opacity: 0.85;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}
.about-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 28px;
}
.start-playing-btn {
    background-color: #525f7a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    width: 240px;
    font-family: Lato;
    margin-top: 10px;
}
.tiny-text {
    font-size: 12px;
    text-align: center;
}
