/* Template:
.cards . {
    background-image: url(/assets/img/pc-games);
}
*/
.cards .geometry-dash {
    background-image: url(/assets/img/pc-games/geometry-dash.png);
}
.cards .gta-5 {
    background-image: url(/assets/img/pc-games/gta-5.png);
}
.cards .lego-star-wars-the-complete-saga {
    background-image: url(/assets/img/pc-games/lego-star-wars-the-complete-saga.png);
}
.cards .lego-pirates {
    background-image: url(/assets/img/pc-games/lego-pirates-of-the-caribbean.png);
}
.cards .pvz {
    background-image: url(/assets/img/pc-games/pvz.png);
}
.cards .stray {
    background-image: url(/assets/img/pc-games/stray.png);
}
.cards .lego-star-wars-the-skywalker-saga {
    background-image: url(/assets/img/pc-games/lego-star-wars-the-skywalker-saga.png);
}
.cards .my-friend-pedro {
    background-image: url(/assets/img/pc-games/my-friend-pedro.png);
}
.cards .bloons-td-6 {
    background-image: url(/assets/img/pc-games/bloons-td-6.png);
}
.cards .bloons-td-5 {
    background-image: url(/assets/img/pc-games/bloons-td-5.png);
}
.cards .fnaf {
    background-image: url(/assets/img/pc-games/fnaf.png);
}
.cards .fnaf-2 {
    background-image: url(/assets/img/pc-games/fnaf-2.png);
}
.cards .fnaf-3 {
    background-image: url(/assets/img/pc-games/fnaf-3.png);
}
.cards .fnaf-4 {
    background-image: url(/assets/img/pc-games/fnaf-4.png);
}
.cards .fnaf-4-halloween {
    background-image: url(/assets/img/pc-games/fnaf-4-halloween.png);
}
.cards .fnaf-5 {
    background-image: url(/assets/img/pc-games/fnaf-5.png);
}
.cards .fnaf-6 {
    background-image: url(/assets/img/pc-games/fnaf-6.png);
}
.cards .fnaf-7 {
    background-image: url(/assets/img/pc-games/fnaf-7.png);
}
.cards .ssf2 {
    background-image: url(/assets/img/pc-games/ssf2.png);
}
.cards .idle-breakout {
    background-image: url(/assets/img/pc-games/idle-breakout.png);
}
.cards .toy-defence {
    background-image: url(/assets/img/pc-games/toy-defence.png);
}
.cards .friday-night-funkin {
    background-image: url(/assets/img/pc-games/friday-night-funkin.png);
}
.cards .a2048 {
    background-image: url(/assets/img/pc-games/2048.png);
}
.cards .fnaf-world {
    background-image: url(/assets/img/pc-games/fnaf-world.png);
}
.cards .undertale {
    background-image: url(/assets/img/pc-games/undertale.png);
}
.cards .plague-inc {
    background-image: url(/assets/img/pc-games/plague-inc.png);
}