/* boxStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(/assets/img/backgrounds/11.gif);
    background-size: cover;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    --background-color: #000;
    --text-color: #fff;
    --box-color: #000;
    --border-color: #ccc;
    --input-bg-color: #333;
    --button-bg-color: #333;
    --button-hover-bg-color: #555;
}
body.light-theme {
    --background-color: #fff;
    --text-color: #000;
    --box-color: #fff;
    --border-color: #000;
    --input-bg-color: #aca7a7;
    --button-bg-color: #aca7a7;
    --button-hover-bg-color: #aaa;
}
.container {
    display: flex;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    height: 100vh; /* 100% of the viewport height */
}
.container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari */
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 90vw;
}
.box {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
}

.box h2 {
    font-size: 28px;
    font-family: 'Lato', cursive;
    text-align: center;
    margin: 10px 0;
}

.box p {
    font-size: 20px;
    font-family: 'Lato', sans-serif; 
    text-align: center;
    margin: 10px 0;
}
/* For larger screens */
@media (min-width: 600px) {
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        display: inline-block;
    }
    .swiper-wrapper {
        flex-direction: row;
    }
}