@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
  }
}

a.text{
  color: red;}

body {
  overflow: auto;
}

canvas {
  display: block;
}

#particles-js {
  z-index: -1;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(/assets/img/backgrounds/4.gif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}
.title {
  line-height: 550px;
  text-align: center;
  margin: auto;
  
  font-size: 150px;
  color: white;
  font-family: 'Poppins', sans-serif;


}




h2{
  text-align: center;
  font-size: 20px;
  color: white;
}



i {
  font-size: 50px;
  margin-right: 5px;

}
.dropbtn {
  background-color:transparent;
  color:white;
  padding: 16px;
  font-size: 60px;
  border: none;
  position: fixed;
  left: 40px;
  top: 10px;

 
  
 
  }
  
  .dropdown {
  position: relative;
  display: inline-block;

  }
  
  .dropdown-content {
  display: none;
  position: fixed;
  background-color:#262626 ;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 30px;
  font-family: 'DynaPuff', cursive;
left: 20px;
  top: 120px;
  padding: 3px;
  border-radius: 5px;
  


 


  
  }
  
  .dropdown-content a {
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  font-family: 'DynaPuff', cursive;
  
  }
  
  .dropdown-content a:hover {background-color: #262626}
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown:hover .dropbtn {
    -webkit-transform: scale(1.2) rotate(0.01deg);
    transform: scale(1.2);
    }

.title a {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.title a:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2);
  display: inline-block;
}

.navdiv {
margin: auto;
text-align: center;
justify-content: center;
  transform: translate(-50%, -50%);
}

.navbar {
  text-align: center;
  border: 6px solid white;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.alertBox {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
  
  position: absolute;
  right: 0px;
  top: 0px;

  display: flex;
  flex-wrap: wrap;
  
  padding: 10px;

  width: 180px;
}

.alert {
  cursor: pointer;
  
  border-radius: 10px;
  width: 150px;
  text-align: center;
  border:white;
 
  

  animation-name: alert;
  animation-duration: 1s;

  z-index: 999999999;
  padding: 10px;
}

.navbar img {
  margin-left: 6px;
  width: 48px; height: 48px;
  
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.navbar img:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2);
  display: inline-block;
}

form input {
  z-index: 99999999999;
  background: none;
  font-family: 'DynaPuff', cursive;
  height: 48px;
  color: white;
  border-radius: 3px;
  outline: none;
  width: 250px;
  margin: auto;
  margin-top: auto;
  border: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  bottom: 100px;
  font: 5px;
 
}


.container {
	padding: 20px;
}

.box {
	margin: auto;
	background-color: transparent;
	padding: 10px;
	width: 400px;
  border-radius: 50px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 520px;
	padding: 0;
	text-align: center;
}

#gsearchbar {
	outline: none;
	width: 379px;
	color: white;
	font-size: 16px;
  border: solid white;
	padding: 12px;
	margin-bottom: 10px;
	transition: 0.2s ease;
  background-color: transparent;
  margin: auto;
  border-radius: 14px;
}

#glist::-webkit-scrollbar {
	display: none;
}

#gsearchbar:focus {
	background-color:transparent;
	box-shadow: inset 0 0 5px 1px rgba(228, 227, 227, 0.4);
}

#glist h2 {
	display: block;
	color: white;
	font: 18px;
	border: 1px solid white;
	margin: -1px 0 0 0;
	background-color:white;
	padding: 12px;
	font-weight: bold;
	user-select: none;
}

#glist a {
	display: block;
	text-decoration: inherit;
	color: white;
	font-size: 30px;
	border: 1px solid #dddddd;

	background-color: transparent;
	padding: 20px;
	transition: 0.2s ease;
  margin-top: 10px;
  border-radius: 14px;
  font-family: 'DynaPuff', cursive;

}

#glist a:hover {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}




.item img {
	width: 50px;
    height: 50px;
    margin-left: 1px;
    margin-top: 30px;
	display: grid;
	float: left;

}
.item img {
border-radius: 8px;
	
}

img{
    width: 60px;
    height: 60px;
   

    border-radius: 8px;

	
}

   .item {
    display: grid;
    margin-left: 60px;
	
  }

  div.item {
    vertical-align: top;
   
    width: 188px;
    margin-left: 2px;

}


.loader {
  border: 16px solid#1b1f2e; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 500px;
}



inupt::focus {color: #5a4aed}




footer {
  margin-top: auto;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}




#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.medal{
  text-align: center;
  font-size: 30px;
  color: #5a4aed;
  font-family: 'DynaPuff', cursive;
}

h6 {
  text-align: center;
  font-size: 20px;
  color: #5a4aed;
  font-family: 'DynaPuff', cursive;
}



.gameimg {
  display: grid;
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 55px;
margin-top: 100px;
background-color: transparent;
overflow: visible;
}




img {
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
transition: 1s;

 }

 img:hover {
  transform: scale(1.3);
z-index: 2;
 }





