<?xml version="1.0" encoding="UTF-8"?>
<config>
	<debug>false</debug>

<!-- Unlocking levels for testing -->
	<give>
		<slug>infernus</slug>
		<slug>bludgeon</slug>
		<slug>frostCrawler</slug>
		<slug>tazerling</slug>
		<slug>bubble</slug>
		<slug>vinedrill</slug>
		<world>world1</world>
		<world>world2</world>
		<coins>50000</coins>
	</give>

	<localization>
		<url>strings/strings.xml</url>
	</localization>
	<fonts>
		<url>assets/fonts/fonts.swf</url>
		<primaryFontFamilyName>CA Gothique</primaryFontFamilyName>
		<secondaryFontFamilyName>KabelDTCondensed</secondaryFontFamilyName>
	</fonts>
	<playerControls>
		<store>66</store>
		<pause>27</pause>
		<accept>13</accept>
		<moveLeft>37</moveLeft>
		<moveUp>38</moveUp>
		<moveRight>39</moveRight>
		<moveDown>40</moveDown>
		<jump>38,86,32</jump> 
		<shoot>67</shoot>
		<quickSlug>68</quickSlug>
		<nextSlug>88</nextSlug>

	</playerControls>
	<engine>
		<minLoadingDuration>0</minLoadingDuration>
		<flashCompleteDuration>0.5</flashCompleteDuration>
		<transitionDuration>0.5</transitionDuration>
	</engine>
	<worldMap>
		<url>world.xml</url>
		<!--<url>development/devWorld.xml</url>-->
		<iconVelocity>25</iconVelocity>
	</worldMap>
	<store>
		<url>store.xml</url>
	</store>
	<level>
		<!-- Acceleration due to gravity -->
		<gravity>750</gravity>
		<!-- Max velocity of objects other than player -->
		<maxVelocity>750</maxVelocity>
		<floorFriction>0.4</floorFriction>
		<cameraVelocity>1000</cameraVelocity>
		<cameraAcceleration>1800</cameraAcceleration>
		<deathCameraDelay>1.0</deathCameraDelay>
		<deathCameraVelocity>500</deathCameraVelocity>
		<deathCameraAcceleration>600</deathCameraAcceleration>
	</level>
	<hud>
		<layer>-10</layer>
		<barVelocity>192</barVelocity>
	</hud>
	
	<player>
		<mods>
			<slugCircus>
				<initialDistance>50</initialDistance>
				<miniInitialDistance>35</miniInitialDistance>
				<followDistanceOffset>30</followDistanceOffset>
				<miniFollowDistanceOffset>8</miniFollowDistanceOffset>
				<movingXOffset>0</movingXOffset>
				<miniMovingXOffset>0</miniMovingXOffset>
				<horizontalDrag>10</horizontalDrag>
				<verticalDrag>3</verticalDrag>
			</slugCircus>
			<coinBurst>
				<spewCoinSpread>90</spewCoinSpread>
				<minSpewCoinVelocity>300</minSpewCoinVelocity>
				<maxSpewCoinVelocity>600</maxSpewCoinVelocity>
				<maxSpewedCoins>15</maxSpewedCoins>
				<minSpewedCoinLifespan>25.0</minSpewedCoinLifespan>
				<maxSpewedCoinLifespan>30.0</maxSpewedCoinLifespan>
				<spewedCoinCollectibleDelay>0.5</spewedCoinCollectibleDelay>
			</coinBurst>
			<doubleJump>
				<maxJumps>2</maxJumps>
			</doubleJump>
			<rubberLegs>
				<bounciness>.85</bounciness>
				<jumpVelocity>400</jumpVelocity>
				<postRampVelocityReduction>0</postRampVelocityReduction>
				<freefallAcceleration>600</freefallAcceleration>
				<maxFreefallVelocity>2000</maxFreefallVelocity>
				<bounceEffectDistanceThreshold>3</bounceEffectDistanceThreshold>
			</rubberLegs>
			<lightAsAFeather>
				<jumpHangtime>.5</jumpHangtime>
				<maxFreefallVelocity>150</maxFreefallVelocity>
			</lightAsAFeather>
			<madRush>
				<maxGroundVelocity>500</maxGroundVelocity>
				<maxAirVelocity>500</maxAirVelocity>
				<fadeTrailSpawnRate>.1</fadeTrailSpawnRate>
				<fadeTrailFadeRate>.3</fadeTrailFadeRate>
			</madRush>
			<slipNSlide>
				<groundDecceleration>5</groundDecceleration>
				<groundAcceleration>250</groundAcceleration>
				<colorOverlay>#0099FF</colorOverlay>
			</slipNSlide>
			<flea>
				<playerScale>.25</playerScale>
				<knockbackVelocity>800</knockbackVelocity>
				<jumpVelocity>800</jumpVelocity>
				<fadeTrailSpawnRate>.05</fadeTrailSpawnRate>
				<fadeTrailFadeRate>.25</fadeTrailFadeRate>
				<fadeTrailDelay>.25</fadeTrailDelay>
				<shotYOffset>-25</shotYOffset>
				<slugYOffset>-25</slugYOffset>
			</flea>
		</mods>
		<layer>0</layer>
		<playerClass>player</playerClass>
		<hits>10</hits>
		<shieldHits>6</shieldHits>
		<knockbackAngle>45</knockbackAngle>
		<knockbackVelocity>400</knockbackVelocity>
		<grenukeKnockBackVelocity>650</grenukeKnockBackVelocity>
		<stunTimeOnHit>0.5</stunTimeOnHit>
		<recoveryTime>0.5</recoveryTime>
		<!-- Animation params -->
		<spawnDuration>1.0</spawnDuration>
		<deathDuration>1.0</deathDuration>
		<endLevelCelebrateDuration>2.0</endLevelCelebrateDuration>
		<!-- Physics params -->
		<groundAcceleration>1800</groundAcceleration>
		<groundDecceleration>1350</groundDecceleration>
		<maxGroundVelocity>300</maxGroundVelocity>
		<airAcceleration>1800</airAcceleration>
		<airDecceleration>300</airDecceleration>
		<maxAirVelocity>300</maxAirVelocity>
		<jumpVelocity>480</jumpVelocity>
		<maxJumpDuration>0.1</maxJumpDuration>
		<minJumpDuration>0.08</minJumpDuration>
		<jumpAttenuateDuration>0.25</jumpAttenuateDuration>
       	<jumpHangtime>0.0</jumpHangtime>
		<jumpSpeedDurationCrossover>1</jumpSpeedDurationCrossover>
	   	<freefallAcceleration>600</freefallAcceleration>
		<maxFreefallVelocity>500</maxFreefallVelocity>
		<jumpGracePeriodPreSurface>0.067</jumpGracePeriodPreSurface>
		<jumpGracePeriodPostSurface>0.1</jumpGracePeriodPostSurface>
		<maxFloorAngle>67.5</maxFloorAngle>
		<maxCeilingAngle>67.5</maxCeilingAngle>
		<velocityAlongSurface>1</velocityAlongSurface>
		<mass>60</mass>
		<postRampVelocityReduction>0.9</postRampVelocityReduction>
		<!-- Slug follow params -->
		<minSlugFollowDistance>100</minSlugFollowDistance>
		<slugFollowDistanceOffset>50</slugFollowDistanceOffset>
		<slugInitialFollowVelocity>250</slugInitialFollowVelocity>
		<slugTerminalFollowVelocity>450</slugTerminalFollowVelocity>
		<slugMaintainFollowVelocityCrossover>0.5</slugMaintainFollowVelocityCrossover>
		<slugExtraHazardTime>0.2</slugExtraHazardTime>
	</player>
	<slugs>
		<bubble>
			<shotDelay>1.5</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>true</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotDuration>5</shotDuration>
			<warningDuration>2</warningDuration>
			<warningFlashColor>0xFF0000</warningFlashColor><!-- HEX color value -->
			<warningFlashColorIntensity>0.75</warningFlashColorIntensity><!-- between 0 and 1 . 1 being full -->
			<explodeFadeDuration>0.33</explodeFadeDuration>
			<!-- Starting number frames between red flash -->
			<startFramesBetweenFlash>30.5</startFramesBetweenFlash>
			<!-- Frames between flash is divided by this number each call, speeding up the red warnging flash -->
			<framesBetweenFlashDivisionFactor>1.2</framesBetweenFlashDivisionFactor>
            <shotVelocity>140</shotVelocity>
            <shotInitialDistance>10</shotInitialDistance>
			<shotClass>bubble</shotClass>
			<initialRadius>25</initialRadius>
			<maxRadius>30</maxRadius>
			<growthRate>5</growthRate>
			<horizontalDecceleration>85</horizontalDecceleration>
			<verticalAcceleration>45</verticalAcceleration>
			<maxYVelocity>55</maxYVelocity>
			<bounciness>0.4</bounciness>
			<buoyancy>0.27</buoyancy>
			<passThru>true</passThru>
		</bubble>
		<bludgeon>
			<bludgeonBlockClass>bt</bludgeonBlockClass>
			<shotDelay>.55</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>500</shotVelocity>
            <shotInitialDistance>20</shotInitialDistance>
           	<shotDamage>1.5</shotDamage>
            <shotWidth>20</shotWidth>
			<shotHeight>20</shotHeight>
            <shotImpulse>850000</shotImpulse>
			<shotClass>bludgeon</shotClass>
       	</bludgeon>
		<stalkerShot>
			<shotDelay>0.1</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>500</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
            <shotDamage>2</shotDamage>
			<transformedShotDamage>5</transformedShotDamage>
           	<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>stalkerShot</shotClass>
		</stalkerShot>
		<flaringo>
			<shotDelay>0.1</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>500</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
            <shotDamage>1</shotDamage>
			<transformedShotDamage>5</transformedShotDamage>
           	<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>falringo</shotClass>
		</flaringo>
        <infernus>
			<shotDelay>0.1</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>500</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
            <shotDamage>1</shotDamage>
			<transformedShotDamage>5</transformedShotDamage>
			<transformedRadius>20</transformedRadius>
			<transformedMaxShots>1</transformedMaxShots>
           	<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>infernus</shotClass>
        </infernus>
		<enigmo>
			<shotDelay>0</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
            <shotVelocity>320</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
			<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>enigmo</shotClass>
			<shotDuration>.4</shotDuration>
			<explosionRadius>300</explosionRadius>
			<explosionDuration>1</explosionDuration>
		</enigmo>
		<arachnet>
			<shotDelay>0</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
            <shotVelocity>620</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
			<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>arachnet</shotClass>
		</arachnet>
		<hypnogrif>
			<shotDelay>0.45</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
            <shotVelocity>400</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
            <shotDamage>0</shotDamage>
           	<shotRadius>25</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>hypnogrif</shotClass>
		</hypnogrif>
		<heatseeker>
			<shotInitialDistance>35</shotInitialDistance>
			<shotDelay>0.5</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotDuration>3</shotDuration>
			<shotVelocity>350</shotVelocity>
			<shotDamage>1</shotDamage>
			<shotClass>heatseeker</shotClass>
			<angleStepPerSecondsDegrees>265</angleStepPerSecondsDegrees>
			<angleCorrectionTime>.25</angleCorrectionTime>
			<maxCorrectionDelays>9</maxCorrectionDelays>
			<maxRotations>9</maxRotations>
			<radius>10</radius>
			<armedDamage>3</armedDamage>
		</heatseeker>
		<landmine>
			<shotInitialDistance>35</shotInitialDistance>
			<shotDelay>0.5</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotDuration>3</shotDuration>
			<shotVelocity>350</shotVelocity>
			<yVelocity>-176</yVelocity>
			<shotDamage>.5</shotDamage>
			<shotClass>landmine</shotClass>
			<radius>10</radius>
			<armedDamage>3</armedDamage>
		</landmine>
		<flopper>
			<shotInitialDistance>35</shotInitialDistance>
			<shotDelay>0.5</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotDuration>3</shotDuration>
			<shotVelocity>350</shotVelocity>
			<yVelocity>-176</yVelocity>
			<shotDamage>.5</shotDamage>
			<shotClass>flopper</shotClass>
			<bounciness>.8</bounciness>
			<radius>10</radius>
		</flopper>
		<spreader>
			<shotInitialDistance>35</shotInitialDistance>
			<numShots>7</numShots>
			<maxAngle>65</maxAngle>
			<shotDelay>0.5</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotVelocity>350</shotVelocity>
			<shotDamage>.5</shotDamage>
			<shotClass>spreader</shotClass>
			<radius>10</radius>
		</spreader>
		<ricochet>
			<shotDelay>0.5</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotDuration>4</shotDuration>
			<shotVelocity>550</shotVelocity>
			<shotDamage>1</shotDamage>
			<shotClass>ricochet</shotClass>
			<radius>10</radius>
		</ricochet>
		<yang>
			<shotDelay>0</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<returnDuration>0</returnDuration>
			<shotVelocity>350</shotVelocity>
			<shotDamage>2</shotDamage>
			<shotClass>yang</shotClass>
			<width>70</width>
			<height>35</height>
		</yang>
		<porkyspline>
			<shotDelay>.075</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>400</shotVelocity>
            <shotInitialDistance>50</shotInitialDistance>
            <shotDamage>0.25</shotDamage>
           	<shotRadius>8</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>porkyspline</shotClass>
			<shotAngleRangeDegrees>10</shotAngleRangeDegrees>
		</porkyspline>
		<grenuke>
			<shotDelay>0.45</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>true</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>600</shotVelocity>
            <shotInitialDistance>35</shotInitialDistance>
            <shotDamage>0</shotDamage>
			<splashDamage>2.0 </splashDamage>
			<splashDamageRate>.5</splashDamageRate>
           	<shotRadius>14</shotRadius>
          	<shotImpulse>10000</shotImpulse>
			<shotClass>grenuke</shotClass>
			<detonationTimer>3</detonationTimer>
			<explosionRadius>75</explosionRadius>
			<explosionDuration>.35</explosionDuration>
			<shotMaxChargeTime>1</shotMaxChargeTime>
			<maxAngleDegrees>-90</maxAngleDegrees>
			<bounciness>.85</bounciness>
			<mass>5</mass>
        </grenuke>
		<vinedrill>
			<shotDelay>1</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
			<nodeTriggerWidth>50</nodeTriggerWidth>
			<nodeTriggerHeight>100</nodeTriggerHeight>
			<destroyOnCreateBridge>false</destroyOnCreateBridge>
            <bridgeDuration>10</bridgeDuration>
			<bridgePassThru>true</bridgePassThru>
            <shotVelocity>600</shotVelocity>
            <shotInitialDistance>24</shotInitialDistance>
			<shotRadius>14</shotRadius>
			<shotImpulse>50</shotImpulse>
			<shotClass>vinedrill</shotClass>
			<poisonAmount>.5</poisonAmount>
			<poisonRate>1.5</poisonRate>
			<poisonDuration>8</poisonDuration>
		</vinedrill>
		<tazerling>
			<shotDelay>0</shotDelay>
			<maxSimultaneousShots>1</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
			<shotInitialDistance>35</shotInitialDistance>
			<numPulses>3</numPulses>
			<initialPulseVelocity>25</initialPulseVelocity>
			<pulseVelocityOffset>-5</pulseVelocityOffset>
			<initialPulseRadius>15</initialPulseRadius>
			<pulseRadiusOffset>25</pulseRadiusOffset>
			<pulseLifespan>0.4</pulseLifespan>
			<pulseTimeOffset>0.1</pulseTimeOffset>
           	<shotDamage>1</shotDamage>
			<shotClass>tazerling</shotClass>
			<transformedInitialDistance>35</transformedInitialDistance>
			<transformedShotDamage>4</transformedShotDamage>
			<transformedRadius>20</transformedRadius>
			<transformedVelocity>600</transformedVelocity>
			<transformedImpulse>10000</transformedImpulse>
			<transformedMaxShots>1</transformedMaxShots>
		</tazerling>
		<frostCrawler>
			<shotDelay>.35</shotDelay>
			<maxSimultaneousShots>0</maxSimultaneousShots>
			<cancelLastShotOnNewRequest>false</cancelLastShotOnNewRequest>
			<returnDuration>0</returnDuration>
            <shotVelocity>600</shotVelocity>
            <shotInitialDistance>25</shotInitialDistance>
            <shotDamage>.125</shotDamage>
            <shotRadius>14</shotRadius>
			<shotClass>frostCrawler</shotClass>
			<transformedShotDamage>1.5</transformedShotDamage>
			<transformedRadius>20</transformedRadius>
			<transformedMaxShots>1</transformedMaxShots>
			<velocity>270</velocity>
			<amplituedVelocity>75</amplituedVelocity>
			<amplitude>5</amplitude>
			<period>.75</period>
			<angle>0</angle>
			<numberShots>2</numberShots>
			<duration>.75</duration>
			<defaultFreezeTime>5</defaultFreezeTime>
		</frostCrawler>
	</slugs>
	<creatures>
		<rockCreature>
			<width>96</width>
			<height>80</height>
			<mass>999999999</mass>
			<maxGroundVelocity>100</maxGroundVelocity>
			<maxAirVelocity>100</maxAirVelocity>
			<jumpDuration>0.21</jumpDuration>
			<maxFreeFallVelocity>1500</maxFreeFallVelocity>
		</rockCreature>
		<shadowClanLeader>
			<numberOfShotsBeforeMove>4</numberOfShotsBeforeMove>
			<minShootDistance>450</minShootDistance>
			
			<hits>38</hits>
			<damage>4</damage>
			<velocity>270</velocity>
			<width>80</width>
			<height>68</height>
			<virtualClass>shadowClan</virtualClass>
		</shadowClanLeader>
		<shadowClan>
			<numberOfShotsBeforeMove>3</numberOfShotsBeforeMove>
			<minShootDistance>350</minShootDistance>
			<hits>8</hits>
			<damage>2</damage>
			<velocity>200</velocity>
			<width>80</width>
			<height>48</height>
			<virtualClass>shadowClan</virtualClass>
		</shadowClan>
		<spittingShroom>
			<hits>3.0</hits>
			<damage>1.0</damage>
			<width>32</width>
			<height>64</height>
			<velocity>30</velocity>
			<stunDuration>.2</stunDuration>
			<loopDuration>3.0</loopDuration>
			<spitAt>1.5</spitAt>
			<slimeVelocity>140</slimeVelocity>
			<platformAware>false</platformAware>
			<virtualClass>spittingShroom</virtualClass>
			<shootOffCamera>false</shootOffCamera>
			<shotMaxCameraDistance>750</shotMaxCameraDistance>
			<shotDuration>5.2</shotDuration>
			<shotDamage>1.0</shotDamage>
		</spittingShroom>
		<coinWasp>
			<hits>2.0</hits>
			<mothHits>3.0</mothHits>
			<damage>1.0</damage>
			<width>35</width>
			<height>35</height>
			<virtualClass>coinWasp</virtualClass>
			<velocity>275</velocity>
			<acceleration>200</acceleration>
			<decceleration>250</decceleration>
		</coinWasp>
		<shockVine>
			<width>48</width>
			<height>256</height>
			<shockDuration>1.0</shockDuration>
			<shockDamage>0.1</shockDamage>
		</shockVine>
		<bugBush>
			<hits>1.0</hits>
			<damage>3.0</damage>
			<width>50</width>
			<height>45</height>
			<triggerRadius>300</triggerRadius>
			<jumpDelay>1.0</jumpDelay>
			<jumpAngle>25</jumpAngle>
			<jumpVelocity>500</jumpVelocity>
			<bounciness>0</bounciness>
			<mass>10</mass>
			<virtualClass>bugBush</virtualClass>
		</bugBush>
		<grumshroom>
			<hits>3.0</hits>
			<width>140</width>
			<height>20</height>
			<loopDuration>6.0</loopDuration>
			<unhideAt>1.0</unhideAt>
			<inhaleAt>2.0</inhaleAt>
			<spitAt>3.0</spitAt>
			<hideAt>5.0</hideAt>
			<gasDistance>100</gasDistance>
			<gasVelocity>140</gasVelocity>
			<gasHitDelay>0.0</gasHitDelay>
			<gasDuration>5.2</gasDuration>
			<stunDuration>.2</stunDuration>
		</grumshroom>
		<bat>
			<hits>1.0</hits>
			<damage>1.0</damage>
			<electricBatDamage>100.0</electricBatDamage>
			<width>35</width>
			<height>35</height>
			<freezeWidth>75</freezeWidth>
			<freezeHeight>45</freezeHeight>
			<velocity>200</velocity>
			<amplitude>50</amplitude>
			<period>1.5</period>
			<angle>180</angle>
			<virtualClass>bat</virtualClass>
			<mcVirtualClass>mindControlBat</mcVirtualClass>
			<mcVelocity>275</mcVelocity>
			<acceleration>200</acceleration>
			<decceleration>250</decceleration>
		</bat>
		<stalactite>
			<damage>1</damage>
			<height>167</height>
			<width>47</width>
			<friction>0.7</friction>
			<mass>150</mass>
			<bounciness>0</bounciness>
		</stalactite>
		<boulder>
			<hits>2.0</hits>
			<damage>1</damage>
			<minDamageVelocity>10</minDamageVelocity>
			<radius>28</radius>
			<angle>180</angle>
			<initialVelocity>0</initialVelocity>
			<angularVelocity>0</angularVelocity>
			<bounciness>0.2</bounciness>
			<friction>0.5</friction>
			<mass>125</mass>
		</boulder>
		<bigboulder>
			<hits>2.0</hits>
			<damage>100</damage>
			<minDamageVelocity>0</minDamageVelocity>
			<radius>96</radius>
			<angle>180</angle>
			<initialVelocity>0</initialVelocity>
			<angularVelocity>0</angularVelocity>
			<bounciness>0.2</bounciness>
			<friction>0.5</friction>
			<mass>125</mass>
		</bigboulder>
		<ghost>
			<height>32</height>
			<width>32</width>
			<damage>1.5</damage>
			<hits>3</hits>
			<sensorRadius>300</sensorRadius>
			<maxFollowDistance>700</maxFollowDistance>
			<velocity>150</velocity>
		</ghost>
		<ghostKing>
			<height>180</height>
			<width>64</width>
			<hits>8</hits>
			<damage>3</damage>
			<shootAt>3</shootAt>
			<shotVelocity>350</shotVelocity>
			<shotDamage>1</shotDamage>
			<minVelocity>125</minVelocity>
			<maxVelocity>250</maxVelocity>
			<movementRadius>75</movementRadius>
			<maxShots>3</maxShots>
			<minShots>1</minShots>
			<shotTimeSpacing>.35</shotTimeSpacing>
			<freezeDuration>1</freezeDuration>
		</ghostKing>
		<lucky>
			<height>64</height>
			<width>160</width>
			<damage>2</damage>
			<hits>3</hits>
			<velocity>250</velocity>
		</lucky>
		<bogieBug>
			<hits>4.0</hits>
			<damage>2.5</damage>
			<height>32</height>
			<width>32</width>
			<velocity>30</velocity>
			<platformAware>true</platformAware>
			<virtualClass>bogieBug</virtualClass>
		</bogieBug>
		<mimic>
			<potBounciness>.27</potBounciness>
			<potFriction>0.005</potFriction>
			<potWidth>39</potWidth>
			<potHeight>59</potHeight>
			<potShield>2.0</potShield>
			<panLidWidth>15</panLidWidth>
			<panLidHeight>96</panLidHeight>
			<defeatedPanHeight>64</defeatedPanHeight>
			<panLidShield>3.0</panLidShield>
			<hits>2.0</hits>
			<damage>2.0</damage>
			<width>24</width>
			<height>96</height>
			<stunDuration>1</stunDuration>
			<platformAware>true</platformAware>
			<virtualClass>mimic</virtualClass>
		</mimic>
		<mechasnakeOverdrive>
			<shotDamage>1</shotDamage>
			<minShots>1</minShots>
			<maxShots>6</maxShots>
			<shotSpacingTime>.35</shotSpacingTime>
			<shotVelocity>350</shotVelocity>
			<shootAt>5</shootAt>				
			<shotAngleRange>45</shotAngleRange>
			
			<beamDuration>.5</beamDuration>
			<beamAt>15</beamAt>
			<beamDamage>5</beamDamage>
			<beamWarmUpDuration>2</beamWarmUpDuration>
			<beamTargetDuration>1.5</beamTargetDuration>
			
			<yellAt>20</yellAt>
			<yellDuration>1</yellDuration>
		</mechasnakeOverdrive>
		<mechasnake>
			<height>80</height>
			<width>160</width>
			<originX>134</originX>
			<originY>104</originY>
			<deadY>290</deadY>
			<deadHeight>64</deadHeight>
			<damage>3</damage>
			<hits>32</hits>
			<overdriveAt>22</overdriveAt>
			<hostileDelay>2</hostileDelay>
			<activationRange>400</activationRange>
			
			<shotDamage>1</shotDamage>
			<minShots>1</minShots>
			<maxShots>4</maxShots>
			<shotSpacingTime>.35</shotSpacingTime>
			<shotVelocity>350</shotVelocity>
			<shootAt>7</shootAt>				
			<shotAngleRange>20</shotAngleRange>
			
			<beamDuration>.5</beamDuration>
			<beamAt>20</beamAt>
			<beamDamage>5</beamDamage>
			<beamWarmUpDuration>2</beamWarmUpDuration>
			<beamTargetDuration>1.5</beamTargetDuration>
			
			
			<beamActiveRange>1000</beamActiveRange>
			<beamMaxWidth>25</beamMaxWidth>
			<beamMinWidth>15</beamMinWidth>
			<beamOffsetX>-70</beamOffsetX>
			<beamOffsetY>48</beamOffsetY>
			<beamTargetOffsetX>60</beamTargetOffsetX>
			<beamTargetOffsetY>-30</beamTargetOffsetY>
			
			
			<!-- Four frames into shoot animation fire. 
				Don't change this value. Unless animation changes pls. -->
			<animationShootTime>0.333</animationShootTime>
			
			<shotOffsetX>-80</shotOffsetX>
			<shotOffsetY>32</shotOffsetY>
			
		</mechasnake>
		<dinoRat>
			<height>48</height>
			<width>96</width>
			<sensorWidth>500</sensorWidth>
			<damage>2.5</damage>
			<hits>4.0</hits>
			<platformAware>true</platformAware>
			<virtualClass>dinoRat</virtualClass>
			<velocity>75</velocity>
			<runVelocity>200</runVelocity>
		</dinoRat>
		<frog>
			<width>64</width>
			<height>64</height>
			<hits>2.0</hits>
			<damage>2.0</damage>
			<shootAt>2.0</shootAt>

			<shotVelocity>500</shotVelocity>
			<senseShotRadius>150</senseShotRadius>
			<virtualClass>frog</virtualClass>
			<sensedShots>infernus,bludgeon,grenuke,tazerling,vinedrill,frostCrawler,bubble</sensedShots>
		
		</frog>
		<stalker>
			<width>96</width>
			<height>96</height>
			<trailVelocity>350</trailVelocity>
			<shotVelocity>300</shotVelocity>
			<damageOnTouch>3</damageOnTouch>
			<damageFromBoulders>7.5</damageFromBoulders>
			<laughDelay>0.5</laughDelay>
			<laughDuration>1.0</laughDuration>
			<blinkDuration>0.2</blinkDuration>
			<stunBetweenPhasesDuration>0.5</stunBetweenPhasesDuration>
			<fadeDuration>0.25</fadeDuration>
			<virtualClass>goon</virtualClass>
		</stalker>
		<tentaclePlatform>
			<damage>2</damage>
			<height>48</height>
			<width>160</width>
			<tentacleHeight>208</tentacleHeight>
			<tentacleWidth>80</tentacleWidth>
		</tentaclePlatform>
		<platformerEnemy>
			<cameraOuterRadius>500</cameraOuterRadius>
		</platformerEnemy>
		
	</creatures>
	<objects>
		<bludgeonBlock>
			<width>96</width>
			<height>96</height>
			<mass>500000</mass>
			<friction>0.2</friction>
			<dynamicMoveSpeed>900000000000000000</dynamicMoveSpeed>
		</bludgeonBlock>
		<triggerExitLevel>
			<openDistance>250</openDistance>
		</triggerExitLevel>
		<glowBush>
			<healRate>3.5</healRate>
		</glowBush>
		<floorSwitch>
			<height>5</height>
			<width>32</width>
		</floorSwitch>
		<battery>
			<height>96</height>
			<width>96</width>
		</battery>
		<powerNode>
			<height>16</height>
			<width>16</width>
		</powerNode>
		<powerPad>
			<height>32</height>
			<width>96</width>
		</powerPad>
		<powerGenerator>
			<height>96</height>
			<width>96</width>
		</powerGenerator>
		<teleporterBase>
			<width>16</width>
			<height>192</height>
		</teleporterBase>
		<brambles>
			<destroyClasses>bubble, bigBoulder, shadowClan, boulder, bogieBug, goon, mimic, spittingShroom, player, coinWasp, bugBush, mindControlBat, grenuke, dinoRat, frog</destroyClasses>
		</brambles>
		<lava>
			<destroyClasses>droppedCoin, bubble, shadowClan, bigBoulder, bogieBug, goon, boulder, mimic, spittingShroom, player, coinWasp, bugBush, mindControlBat, grenuke, dinoRat, frog</destroyClasses>
		</lava>
		<fireball>
			<radius>32</radius>
			<damage>1</damage>
		</fireball>
		<grenukeBlock>
			<width>32</width>
			<height>32</height>
			<width64>64</width64>
			<height64>64</height64>
			<fragmentLifespan>.10</fragmentLifespan>
			<fadeOutTime>1.0</fadeOutTime>
			
			<maxXVelocity>150</maxXVelocity>
			<minXVelocity>50</minXVelocity>
			
			<maxYVelocity>-250</maxYVelocity>
			<minYVelocity>-50</minYVelocity>
			
			<gravityMax>200</gravityMax>
			<xVelocityDecay>25</xVelocityDecay>
			<yVelocityDecay>500</yVelocityDecay>
		</grenukeBlock>
		<enigmoBall>
			<radius>35</radius>
			<pulseAt>7</pulseAt>
			<pulseDuration>2.5</pulseDuration>
			<pulseRadius>300</pulseRadius>
		</enigmoBall>
		<lavaPlume>
			<width>112</width>
			<damage>100</damage>
			<dropEasing>0</dropEasing>
			<dropVelocity>300</dropVelocity>
			<riseEasing>0</riseEasing>
			<riseVelocity>225</riseVelocity>
			<bobIntensity>10</bobIntensity>
			<bobVelocity>55</bobVelocity>
			<duration>3</duration>
			<delay>2</delay>
		</lavaPlume>
		<darkWaterPuddle>
			<width>160</width>
			<height>26</height>
			<damage>1</damage>
			<originY>-9</originY>
		</darkWaterPuddle>
		<darkWaterDrop>
			<width>30</width>
			<height>86</height>
			<originY>20</originY>
			<damage>1</damage>
		</darkWaterDrop>
	</objects>
	<pickups>
		<slugterrainian>
			<radius>12</radius>
			<bounciness>0.7</bounciness>
			<friction>0.005</friction>
			<lifespan>10.0</lifespan>
			<collectibleDelay>0.1</collectibleDelay>
			<droppedClass>droppedCoin</droppedClass>
		</slugterrainian>
		<star>
			<radius>35</radius>
		</star>
		<slug>
			<radius>35</radius>
		</slug>
	</pickups>
	<nagScreenLinks>
		<site>http://www.slugterra.com/login</site>
		<link1>http://www.slugterra.com/arsenal</link1>
		<link2>https://www.slugterra.com/profile</link2>
		<link3>http://www.slugterra.com/video</link3>
		<link4>http://www.slugterra.com</link4>
		<link5>http://www.slugterra.com</link5>
		<slugitout>http://www.slugitout.com</slugitout>
	</nagScreenLinks>
</config>